#   Github Ignores these files (https://help.github.com/articles/ignoring-files/) for more about ignoring files.

#  Flask related files & folders
.venv/
.vscode/
sass-lib/
__pycache__/
.pytest_cache/
flask_session/
tests/assets/

# Environment variables
*.env
*.local

#  Log files
*.log

#   VueClient related files & folders
node_modules/
/coverage/
/build
