@media only screen and (min-device-width: 320px) and (max-device-width: 509px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em !important;
  }
  main section.info .carosel {
    display: flex !important;
    block-size: 36vh;
    inline-size: 100% !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  main section.info .carosel img {
    inline-size: 47vw !important;
  }
  main section.info .carosel .caption {
    bottom: 7.5vh !important;
    inline-size: 47vw !important;
  }
  main section.info .carosel div.btn-container {
    bottom: 11em !important;
    inline-size: 47vw !important;
  }
  main section.info section.bio-container {
    margin-inline: 0 !important;
    inline-size: 100% !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
  }
  main section.info section.bio-container nav.bio-link {
    inline-size: 64vw !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 86vw !important;
    text-align: justify !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
    inline-size: 86vw !important;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .specialization-class p {
    margin: auto;
    inline-size: 69vw !important;
    text-align: justify !important;
  }
  main section.spec-wrapper .specialization-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .specialization-class .specialization-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#full-stack .pp {
    inline-size: 100% !important;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 60vw !important;
  }
  /*Samsung Ultra*/
}
@media only screen and (min-device-width: 412px) and (max-device-width: 412px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em !important;
  }
  main section.info .carosel {
    display: flex !important;
    block-size: 36vh;
    inline-size: 100% !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  main section.info .carosel img {
    inline-size: 47vw !important;
  }
  main section.info .carosel .caption {
    bottom: 5.5vh !important;
    inline-size: 47vw !important;
  }
  main section.info .carosel div.btn-container {
    bottom: 11em !important;
    inline-size: 47vw !important;
  }
  main section.info section.bio-container {
    margin-inline: 0 !important;
    inline-size: 100% !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
  }
  main section.info section.bio-container nav.bio-link {
    inline-size: 64vw !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 86vw !important;
    text-align: justify !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
    inline-size: 86vw !important;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .specialization-class p {
    margin: auto;
    inline-size: 69vw !important;
    text-align: justify !important;
  }
  main section.spec-wrapper .specialization-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .specialization-class .specialization-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#full-stack .pp {
    inline-size: 100% !important;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 60vw !important;
  }
}
@media only screen and (min-device-width: 509px) and (max-device-width: 690px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em !important;
  }
  main section.info .carosel {
    inline-size: 37vw !important;
  }
  main section.info .carosel .caption {
    bottom: 7.5vh !important;
  }
  main section.info .carosel div.btn-container {
    block-size: 0 !important;
  }
  main section.info section.bio-container {
    bottom: 13em !important;
    margin-inline: 0 !important;
    inline-size: 59vw !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
    margin-block-start: 0 !important;
  }
  main section.info section.bio-container nav.bio-link {
    margin: auto !important;
    inline-size: 40vw !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 53vw !important;
    text-align: justify !important;
    margin-inline-start: 3em !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
    inline-size: 50vw !important;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .specialization-class p {
    margin: auto;
    inline-size: 69vw !important;
    text-align: justify !important;
  }
  main section.spec-wrapper .specialization-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .specialization-class .specialization-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#full-stack .pp {
    inline-size: 73vw !important;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 42vw !important;
  }
}
@media only screen and (min-device-width: 690px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em !important;
  }
  main section.info .carosel {
    inline-size: 37vw !important;
  }
  main section.info .carosel .caption {
    bottom: 5.5vh !important;
  }
  main section.info .carosel div.btn-container {
    block-size: 0 !important;
  }
  main section.info section.bio-container {
    margin-inline: 0 !important;
    inline-size: 59vw !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
    margin-block-start: 0 !important;
  }
  main section.info section.bio-container nav.bio-link {
    margin: auto !important;
    inline-size: 28vw !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 53vw !important;
    text-align: justify !important;
    margin-inline-start: 3em !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
    inline-size: 50vw !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
    inline-size: 50vw !important;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .specialization-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .specialization-class p {
    margin: auto;
    inline-size: 69vw !important;
    text-align: justify !important;
  }
  main section.spec-wrapper .specialization-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .specialization-class .specialization-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#full-stack .pp {
    inline-size: 73vw !important;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 42vw !important;
  }
}
@media only screen and (min-device-width: 690px) and (max-device-width: 1040px) and (-webkit-min-device-pixel-ratio: 2) {
  header a {
    font-size: 0.57em !important;
  }
  main section.info .carosel {
    inline-size: 37vw !important;
  }
  main section.info .carosel .caption {
    bottom: 5.5vh !important;
  }
  main section.info .carosel div.btn-container {
    block-size: 0 !important;
  }
  main section.info section.bio-container {
    bottom: 15em !important;
    margin-inline: 0 !important;
    inline-size: 59vw !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
    margin-block-start: 0 !important;
  }
  main section.info section.bio-container nav.bio-link {
    margin: auto !important;
    inline-size: 28vw !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 53vw !important;
    text-align: justify !important;
    margin-inline-start: 3em !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
    inline-size: 50vw !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
    inline-size: 50vw !important;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
  }
  main section.spec-wrapper .specialization-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .specialization-class p {
    margin: auto;
    inline-size: 41vw !important;
    text-align: justify !important;
  }
  main section.spec-wrapper .specialization-class .tech-container {
    inline-size: 43vw !important;
  }
  main section.spec-wrapper .specialization-class .specialization-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#full-stack .pp {
    inline-size: 46vw !important;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 36vw !important;
  }
}/*# sourceMappingURL=media-screen.css.map */