.cnn-ctr 
    text-align: center
.pp
    display: flex
    font-size: 5vh
    flex-wrap: wrap
    block-size: 15vh
    inline-size: 46vh
    align-items: flex-start
    border: 1px solid black
    justify-content: space-around

    i
        font-size:6vh

    span
        font-size: 2vh
        user-select: none
        font-weight: bold
        margin-inline: 1em
        -moz-user-select: none
        -webkit-user-select: none  