// Third-party dependencies
@use 'lumina-sass/mix' as l-mix
@use 'lumina-sass/color' as l-color

// Internal dependencies
@use './utilities/utilities' as utils

@forward './pages/dev'
@forward './pages/portfolio'
@forward './pages/misc-pages'

@forward './assets/images'

@forward './components/cards'
@forward './components/icons'
@forward './components/article'
@forward './components/buttons'
@forward './components/timeline'
@forward './components/elements'
@forward './components/navigation'
@forward './components/grid-container'

@forward './utilities/generators'


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')

*, *::before, *::after
    box-sizing: border-box
    writing-mode: horizontal-tb
    @include utils.margin($block: auto, $inline: auto)
body
    h1, h2, h3, h4, h5, h6
        text-align: center
        color: l-color.$text-base-dark-grey

        @include utils.margin($block: 0.5rem, $inline: auto)

    @include l-mix.text-wrap-safe()
    @include l-mix.apply-theme-colors(l-color.$neutral-off-white, l-color.$text-base-dark-grey, 'Nunito')

.col-3
    margin: 0.5%
    flex: 0 0 32%

header, main
    @include utils.margin($inline: auto, $block: 0 3rem)

main > .card-content
    @include utils.margin($block: 0)

footer
    @include utils.padding(0.9rem)
    @include utils.margin($inline: auto, $block: 0.9rem)

.page-alert
    h2
        text-align: left