main, section
{
    display: flex;
    flex-wrap: wrap;
}
main
{
    flex-direction: column;
}

.off, .on
{
    block-size: 10vh;
    inline-size: 10vh;
    border-radius: 50%;
}
.off 
{
    background-color: rgb(45, 45, 45);
}
.on
{
    background-color: yellow;
}
.time {
    padding: 1em;
}