@charset "utf-8";
h1 {
	color: #8A0707;
	margin: 0px;
	padding: 3px;
	text-align: center;
	font-size: 36px;
	font-family: Odishi;
}
.ninjaimg {
	position: absolute;
	right: 10%;
	top: 2px;
	display: inline-block;
	width: 120;
	height: 90;
	margin-left: 25%;
}

.design {
	width: 100%;
	background-color: #eff0f1;
	position: relative;
	z-index: 10;
	padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
	
h1 {
	color: #8A0707;
	margin: 0px;
	padding: 3px;
	text-align: center;
	font-size: 36px;
	font-family: Odishi;
}
.ninjaimg {
	position: absolute;
	left: 250px;
	top: 31px;
	display: inline-block;
	width: 120px;
	height: 90px;
	margin-left: 25%;
}	
.design {
	width: 100%;
	background-color: #eff0f1;
	position: relative;
	z-index: 10;
	padding-bottom: 30px;
}
}