@charset "utf-8";
@font-face {
	font-family: Awery;
	src:url(http://projectmedia.net23.net/pm/fonts/awery.ttf)(awery.ttf);
}

/* CSS Document */
ol.a   {
	background: #FFFFFF;
	list-style-type: upper-latin;
}
ol li {
	background: #f2f2f2;
		
}
 table {
    border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
	line-height: 40px;
	text-align: center;
}

th, td {	
    max-width: 500px;
	max-height: 200px;
	font-family: "Open Sans" Georgia, Sans-serif;
}
tr:nth-child(even){background-color: #FAFAFA;}

th {
    background-color: #e0764d;
	width: 3px;
	line-height: 25px;
    color: #FFFFFF;
}
td a:link {
	color: #000000;
	text-align: center;
	text-decoration: under-line;
	font-family:"Open Sans", Georigia, Sans-serif;
}
td a:visited {
	background-color: transpant;
	text-align: center;
}
td a:active {
	background-color: #555555;
	color: #0A00F9;
	text-align: center;
	text-decoration: none;
}
caption {
	font-size: 2em;
	font-family: Awery;
	color: #117;
	
}
