@charset "utf-8";
/* CSS Document */
.social {
	position: relative;
	background-position: bottom;
	display: block;
	
}
.fb {
	background-image: url(http://projectmedia.net23.net/pm/portfolio/graphics/footer/icons/facebook.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	padding: 24px;
	border-radius: 40px;
	left: 17px;
	top: 29px;
}
.fb:hover {
	background-image: url(http://projectmedia.net23.net/pm/portfolio/graphics/footer/icons/facebookhover.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.insta {
	background-image: url(http://projectmedia.net23.net/pm/portfolio/graphics/footer/icons/instagram.png);
	background-repeat: no-repeat;
	position: relative;
	padding: 25px;
	display: inline-block;
    left: 17px;
	top: 29px;
}
.insta:hover{
	background-image: url(http://projectmedia.net23.net/pm/portfolio/graphics/footer/icons/instahover.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.ello {
	background-image: url(http://projectmedia.net23.net/pm/portfolio/graphics/footer/icons/ello.png);
	background-repeat: no-repeat;
	position: relative;
	padding: 25px;
	display: inline-block;
    left: 15px;
	top: 29px;
}
.ello:hover{
	background-image: url(http://projectmedia.net23.net/pm/portfolio/graphics/footer/icons/ellohover.png);
	background-repeat: no-repeat;
	cursor: pointer;
}