
//  Education    
@import misc, fonts, colour, lang-filter

//  Education
main
    
    section.spec-wrapper
        margin-block: 5vh
        inline-size: 100%

        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-evenly

        .spec-class
            margin-block-end: 5vh

            a
                text-decoration: none
                color: rgb(64, 64, 64)
                transition: 0.3s

            .h3-link
                margin: auto
                font-size: 2em
                @extend %work-sans-font
                transition: 0.3s ease-in-out
            
                &:hover
                    font-size: 2em
                    transform: scale(1.1)
                    @extend %work-sans-font
                    text-decoration: underline
            .no-select
                @extend %user-select

            p
                inline-size: 100%
                text-align: justify
                @extend %roboto-font
                
            .tech-container
                inline-size: 100%

            span.tech-label
                padding: 0.5em
                font-size: 1em
                font-weight: 300
                font-style: oblique
                border-radius: 10px
                margin-inline: 0.3em

            .spec-course
                display: flex
                flex-wrap: wrap
                flex-direction: row
                justify-content: space-between

                a
                    text-decoration: none
                    color: rgb(64, 64, 64)
                    transition: 0.3s

                .h4-link
                    color: $h4 !important
                    margin: auto
                    font-size: 1.3em
                    @extend %work-sans-font
                    transition: 0.3s ease-in-out

                .tech-wrapper

                    padding: 0.5em
                    background-color: $white

                    &:hover
                        background-color: $bg-light
    
