@import flexbox/flexbox-row
@import flexbox/flexbox-column

//  Flexbox row classes / styles
.flex-wrap-row-justify-space-between
    @extend flex-wrap-row
    justify-content: space-between

.flex-wrap-row-justify-space-around
    @extend flex-wrap-row
    justify-content: space-around

.flex-wrap-row-justify-center
    @extend flex-wrap-row
    justify-content: center

.flex-wrap-row-align-items-end
    @extend flex-wrap-row
    align-items: flex-end


