//  Technical repository
@import misc, fonts, colour, lang-filter


.cnn-ctr 
    text-align: center

h2 
    text-align: center

.tech-repo
    inline-size: 100%

button.tech-btn
    border: none
    padding: 1em
    cursor: pointer
    border-radius: 10px
    background-color: $nav-bar
    
    &:disabled
        color: $dark-grey
        cursor: not-allowed
        background-color: $bg-light !important

    &:hover
        transition: 0.5s
        background-color: rgba(99, 182, 182, 1)
        

    &:active
            background-color: rgba(57, 122, 122, 1)

    section#tech-bar
        margin-block: 7vh
        inline-size: 100%

.pp
    margin: 1em
    block-size: 100%
    inline-size: 100%
    background-size: 32vw
    background-repeat: no-repeat
    box-shadow: 4px 4px 20px 4px $dark-grey
    background-image: url(../assets/img/businessCard/topper-left-corner.svg)

    .tech-container
        justify-content: center
        inline-size: 100%

        .relative
            top: 4vh
            left: 4vw
            position: relative

        .img-wrapper
            block-size: 9vh
            inline-size: 78vw
        
            .img-svg
                block-size: 7vh

    h3
        text-align: center
        margin-block: 0vh 1vh

    p
            
            font-size: 1em
            margin-block: 0
            inline-size: 74vw
            text-align: center
            margin-inline-start: 11vw

    span.time
        font-size: 0.8em
        font-weight: 300
        display: contents
        inline-size: 26vw
        font-style: oblique
        margin-inline: 0.3em
        justify-content: end

    a:link, a:visited
        color: inherit

    form.tech-btn
        padding: 0.5em
        cursor: pointer
        border-radius: 10px
        background-color: $nav-bar
        border: 1px solid $white
                        
        &:hover
            transition: 1s
            background-color: $nav-bar-hover
            transform: scale(1.2)

    .pro-nav
        padding: 1em
        padding: 0.5em

        .tech-btn
            padding: 0.5em
            border-radius: 10px
            border: 1px solid $white
                        
            &:hover
                transition: 1s
                background-color: $h4
                transform: scale(1.2)

    span.tech-label
        padding: 1vw
        font-size: 0.9em
        font-weight: 300
        font-style: oblique
        border-radius: 10px
        margin-inline: 0.3em
        