@import misc
@import fonts
@import colour
@import flex-wrap-row

.cnn-ctr 
    text-align: center

.fullstack-container
    @extend flex-wrap-row-space-evenly

.pp
    margin: 1em
    border-radius: 10px
    @extend flex-wrap-row
    background-color: $nav-bar


    a:link, a:visited
        color: inherit
        @extend ext-btn-functionallity !optional

    .pro-nav
        
        display: flex
        block-size: 100%
        padding-inline: 1em
        flex-direction: column
        justify-content: space-evenly

    &:hover
        transform: scale(1.1)
    