// Technologies colours
@import misc, fonts, colour

// Interpreted language
div.tech-interpreted
    @extend %filter-content
    background-color: $Cyan-Blue-Azure

.tech-wrapper:has(.tech-interpreted)
    //transition: all .3s ease-out
    //background-color: $Cyan-Blue-Azure !important

// Compiled languageC, C++, C#,
div.tech-compiled
    background-color: $c
    @extend %filter-content

.tech-wrapper:has(.tech-compiled)
    //transition: all .3s ease-out
    //background-color: $c-light !important

// Database
div.tech-db
    @extend %filter-content
    background-color: $db

.tech-wrapper:has(.tech-db)
    //transition: all .3s ease-out
    //background-color: $db-light

// UI / UX / Frontend
div.tech-ui-ux
    @extend %filter-content
    background-color: $webapp

.tech-wrapper:has(.tech-ui-ux)
    //transition: all .3s ease-out
    //background-color: $webapp-light !important

// Workflow
.tech-workflow
    @extend %filter-content
    background-color: $work-flow

.tech-wrapper:has(.tech-workflow)
    //transition: all .3s ease-out
    //background-color: $work-flow-light !important

.tech-container
    .relative
        left: .5vw
        top: .9vh
        position: relative
        
.tech-wrapper
    margin: 0.1em
    @extend roboto-font
    border-radius: 10px
    @extend %user-select