// Media Queries

@import media_queries/breakpoints
@import media_queries/htc-media-query
@import media_queries/sony-media-query
@import media_queries/sharp-media-query
@import media_queries/apple-media-query
@import media_queries/amazon-media-query
@import media_queries/display-media-query
@import media_queries/samsung-media-query
@import media_queries/motorola-media-query
@import media_queries/microsoft-media-query
@import media_queries/blackberry-media-query


//  Generally media queries
//  Portrait
@media only screen and (min-width: $iphone-width) and (max-width: $bberry-curve-width) and (min-height: $iphone-height) and (orientation: portrait)

    header 
        .slogan-wrapper 
            font-size: 0.459em !important

    main
        
        section.info
            .carosel
                div.btn-container
                    bottom: 48vh
                
                    button.img-btn
                        font-size: 2.5em

            .caption
                bottom: 10.4vh !important

            section.bio-container

                h2
                    font-size: 2em !important
                    text-align: center !important

                section.bio-content

                    h3
                        font-size: 1.5em

        section#tech-repo
            .pp
                block-size: 32vh

                .tech-container
                    .relative
                        top: 2vh
                        left: 5vw
                p
                    font-size: 0.8em
                    inline-size: 75vw

                .img-svg
                    block-size: 5vh


        #tech-bar
            inline-size: 100%

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $tablet-width) and (max-width: $sharp-is03-width) and (min-height: $tablet-height) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                block-size: 100% !important
                inline-size: 74vw !important
                margin-inline: 2vw

                .caption
                    bottom: 6.2vh !important

                div.btn-container
                    bottom: 40vh !important
                    inline-size: 100% !important
                    

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-block: 1vh !important
                margin-inline: 0 !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                section.bio-content
                    

                    h3
                        font-size: 1.5em !important

                    p
                        text-align: justify
                        font-size: 1em !important
                        inline-size: 100% !important            

                div.btn-container
                    bottom: 36vh !important

        section#spec-container
            .spec-class
                inline-size: 47vw !important
                p 
                    inline-size: 100%
                
            .spec-course
                .h4-link
                    font-size: 1em

                p
                    inline-size: 100%
                .tech-wrapper
                    .tech-label
                        font-size: 1em

        section#tech-repo
            .pp
                block-size: 19vh !important
                inline-size: 43vw !important
                background-size: 17vw !important

                h3
                    margin-block: 2vh 0vh !important
                    font-size: 1em !important
                p
                    font-size: 1em !important
                    inline-size: 36vw !important
                    margin-inline-start: 6vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 39vw !important

                        .img-svg
                            block-size: 3vh !important

        form input[type="text"]
            inline-size: 77vw !important
            margin-block-end: 2vh

@media only screen and (min-width: $Ipad-width) and (min-height: $Ipad-height) and (orientation: portrait)
    header 
        .slogan-wrapper 
            font-size: 0.7em

    main
        section.info
            .carosel
                block-size: 36vh
                inline-size: 47vw !important

                .caption
                    bottom: 5vh !important

                div.btn-container
                    bottom: 26vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-inline: 2vh !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                section.bio-content
                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 36vh !important

        section#tech-repo
            .pp
                block-size: 17vh
                inline-size: 44vw 
                background-size: 16vw 

                .tech-container
                    inline-size: 100%

                    .relative
                        top: -1vh
                        left: 2vw

                .img-wrapper
                    block-size: 2vh
                    inline-size: 41vw

                    .img-svg
                        block-size: 3vh !important
                p
                    inline-size: 37vw
                    margin-inline-start : 2vw 

        #tech-bar
            inline-size: 62vw

        form 
            input[type="text"]
                margin-block-end: 2vh

//  Landscape
@media only screen and (min-width: $iphone-height)  and (max-width: 500px) and (min-height: $iphone-width) and (orientation: landscape)
    header 
        .slogan-wrapper 
            font-size: 0.459em !important

    main
        section.info
            .carosel
                inline-size: 47vw

                div.btn-container
                    bottom: 59vh

            .caption
                bottom: 15.9vh !important

            section.bio-container
                nav.bio-bar

                    button.bio-btn
                        font-size: 1.5em !important
                        margin-block: 1vh

                section.bio-content

                    h3
                        font-size: 1.5em        

        section#tech-repo
            .pp
                block-size: 42vh
                inline-size: 41vw
                background-size: 17vw
            
                p
                    font-size: 0.8em
                    inline-size: 33vw
                    margin-inline: 5vw

                .pro-nav

                    .tech-btn
                        padding : 1vh

                .tech-container
                    .relative
                        top: 3vh
                        left: 3vw 
                    .img-wrapper
                        inline-size: 37vw

                        .img-svg
                            block-size: 6vh

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $tablet-height) and (min-height: $tablet-width) and (orientation: landscape)
    header
        img
            inline-size: 10vw !important

        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                block-size: 0vh !important
                inline-size: 47vw !important
                margin-inline-end: 1vw !important

                .caption
                    bottom: 8.3vh !important

                div.btn-container
                    bottom: 43vh !important

                    button.img-btn
                        font-size: 2em !important

            section.bio-container
                inline-size: 54vw !important
                margin-block: 2vh !important
                margin-inline: 2vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 1.7em !important

                section.bio-content
                    inline-size: 100% !important
                    

                    h3
                        font-size: 1.5em !important

                    p
                        text-align: justify
                        font-size: 1em !important
                        inline-size: 100% !important            

                div.btn-container
                    bottom: 36vh !important

        section#spec-container
            .spec-class
                inline-size: 42vw !important
            
                p 
                    inline-size: 100% !important

                .tech-wrapper
                    .tech-label
                        font-size: 1em

        section#tech-repo

            .pp
                block-size: 20vh !important
                inline-size: 28vw !important 
                background-size: 10vw !important

                p
                    font-size: 0.8em !important
                    inline-size: 26vw !important
                    margin-inline: 2vw !important

                .tech-container
                    inline-size: 100% !important

                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh
                        inline-size: 25vw !important

                        .img-svg
                            block-size: 4vh !important
 
        #tech-bar
            inline-size: 62vw

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $Ipad-height) and (min-height: $Ipad-width) and (orientation: landscape)
    header 
        .slogan-wrapper 
            font-size: 0.7em !important

    main
        section.info
            .carosel
                block-size: 0vh
                inline-size: 31vw !important

                .caption
                    bottom: 6.5vh !important

                div.btn-container
                    bottom: 32vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-block: 2vh
                margin-inline: 0
                inline-size: 53 !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                div.btn-container
                    bottom: 36vh !important

        section#spec-container
            .spec-class
                inline-size: 50%
            
                p 
                    inline-size: 46vw
                    text-align: justify  

        section#tech-repo
            .pp
                block-size: 17vh
                inline-size: 32vw 
                background-size: 10vw 

                .tech-container
                    .relative
                        top: 1vh
                        left: 1vw

                    .img-wrapper
                        block-size: 2vh
                        inline-size: 26vw !important

                        .img-svg
                            block-size: 4vh !important
                h3
                    margin-inline-start: 0 !important
                p
                    font-size: 0.8em
                    inline-size: 26vw 

        #tech-bar
            inline-size: 100% !important

        form
            input[type="text"]
                margin-block-end: 2vh

//  WideScreen
@media only screen and (min-width: $wideScreen-width) and (min-height: $wideScreen-height)
    header 
        .slogan-wrapper 
            font-size: 0.57vw

    main
        section.info
            justify-content: space-evenly !important

            .carosel
                block-size: 14vh !important
                inline-size: 23vw !important

                div.btn-container
                    bottom: 30vh !important

                button.img-btn
                    font-size: 2em !important
            
                .caption
                    bottom: 4.7vh !important


            section.bio-container
                margin-block: 13vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 1.2em !important

                section.bio-content
                    inline-size: 100% !important
                    

                    h3
                        font-size: 2em !important

                    p
                        font-size: 1em !important          

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        h2.msg
            text-align: center

        section#spec-container

            .spec-wrapper
                margin-block: 5vh
                justify-content: flex-end

            .spec-class
                inline-size: 27vw

            p
                inline-size: 27vw
                font-size: 1.2em

            .h4-link
                margin: 0
                font-size: 1vw

            .spec-course
                display: block

        section#tech-repo    
            .pp
                block-size: 17vh !important
                inline-size: 23vw  !important
                background-size: 7vw !important


                .tech-wrapper
                    inline-size: 23vw !important
                
                h3
                    font-size: 1.2em !important
                    margin-inline-start: 0 !important

                p
                    font-size: 1em !important
                    inline-size: 19vw !important
                    margin-inline: 3vw !important
                    
                .tech-container
                    inline-size: 56vw !important

                    .relative
                        top: 1vh !important
                        left: -1vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 21vw !important
                        margin-inline: 2vw !important

                        .img-svg
                            block-size: 3vh !important

        .flex-wrap-column-align-content-center

            #tech-bar
                margin-block: 2vh !important
                inline-size: 52vw !important

            form input[type="text"]
                inline-size: 50% !important
                margin-block-end: 2vh !important
