// Media Queries Portrait
//@import media_queries/iphone-media-query
//@import media_queries/samsung-media-query
//@import media_queries/microsoft-media-query

//  Breakpoints
$iphone-width: 320px
$iphone-height: 480px

$tablet-width: 600px
$tablet-height: 800px

$Ipad-width: 768px
$Ipad-height: 1024px

$wideScreen-width: 1274px
$wideScreen-height: $Ipad-width

//  Generally media queries
//  Portrait
@media only screen and (min-width: $iphone-width) and (min-height: $iphone-height) and (orientation: portrait)
    header 
        .slogan-wrapper 
            font-size: 2.621vw

    main
        section.info
            .carosel
                block-size: 36vh
                inline-size: 47vw

                div.btn-container
                    bottom: 31vh
                
                    button.img-btn
                        font-size: 10vw

            .caption
                bottom: 10.5vh !important

            section.bio-container
                nav.bio-bar

                    button.bio-btn
                        margin-block: 2vh

                section.bio-content
                    

                    h3
                        font-size: 1.5em        

        section#tech-repo
            .pp
                block-size: 32vh

                .tech-container
                    .relative
                        top: -3vh
                        left: 0vw
                p
                    font-size: 0.8em
                    inline-size: 75vw

                .img-svg
                    block-size: 5vh


        #tech-bar
            inline-size: 52vw

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $tablet-width) and (min-height: $tablet-height) and (orientation: portrait)
    header 
        .slogan-wrapper 
            font-size: 1.7vw

    main
        section.info
            .carosel
                block-size: 36vh
                inline-size: 47vw !important

                .caption
                    bottom: 6.2vh !important

                div.btn-container
                    bottom: 29vh !important

                    button.img-btn
                        font-size: 6vw !important

            section.bio-container
                margin-block: 13vh !important
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 10vw !important

                section.bio-content
                    inline-size: 86vw !important
                    

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 36vh !important

        section#tech-repo
            .pp
                block-size: 17vh
                inline-size: 53vw 
                background-size: 16vw 

                .tech-container
                    inline-size: 50vw

                    .relative
                        top: 0vh
                        left: 2vw

                .img-wrapper
                    block-size: 2vh

                    .img-svg
                        block-size: 3vh
                p
                    font-size: 0.8em
                    inline-size: 43vw 

        #tech-bar
            inline-size: 52vw

        form input[type="text"]
            margin-block-end: 2vh

//  Landscape
@media only screen and (min-device-width: $iphone-height) and (max-device-width: $iphone-width) and (orientation: landscape)
    header 
        .slogan-wrapper 
            font-size: 2.8vw

    main
        section.info
            .carosel
                block-size: 36vh
                inline-size: 47vw !important

            .caption
                bottom: 15.5vh

                div.btn-container
                    bottom: 70vh !important

            button.img-btn
                font-size: 7vw !important

            section.bio-container
                margin-block: 13vh
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 8vw !important

                section.bio-content
                    inline-size: 86vw !important
                    

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section#tech-repo
            .pp
                inline-size: 53vw !important
                background-size: 21vw !important

                .tech-container
                    inline-size: 73vw !important

                .tech-wrapper
                    inline-size: 23vw !important

                p
                    font-size: 3vw !important
                    inline-size: 44vw !important
                    margin-inline: 7vw !important

                .img-wrapper
                    block-size: 11vh !important
                    margin: 3vh 4vh 0vh 3vw !important

                .img-svg
                    top: 5vh
                    left: 4vw
                    position: relative
                    block-size: 7vh !important
                    
@media only screen and (min-device-width: $tablet-height) and (max-device-width: $tablet-width)  and (orientation: landscape) 
    
    header 
        .slogan-wrapper 
            font-size: 2.8vw

    main
        section.info

            justify-content: space-around !important

            .carosel
                block-size: 36vh
                inline-size: 28vw !important

            .btn-container
                bottom: 23vw !important

                button.img-btn
                    font-size: 4vw !important
            
            .caption
                bottom: 6.5vh !important

                div.btn-container
                    bottom: 18vh !important

                .img-btn
                    font-size: 6vw !important

            section.bio-container
                margin-block: 13vh
                margin-inline: 0 !important
                inline-size: 36vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2vw !important

                section.bio-content
                    inline-size: 86vw !important
                    

                    h3
                        font-size: 3vw !important

                    p
                        font-size: 2.2vw !important
                        inline-size: 100% !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        h2.msg
            text-align: center

        section#spec-container
            .spec-class
                inline-size: 50% !important

            .h4-link
                margin: 0
                font-size: 3vw !important

        section#full-stack

            .pp
                inline-size: 34vw !important
                background-size: 12vw !important

                .tech-container
                    inline-size: 56vw

                .tech-wrapper
                    inline-size: 23vw !important
                
                h3
                    font-size: 2.5vw !important
                    inline-size: 100% !important

                p
                    font-size: 1.4vw !important
                    inline-size: 35vw !important
                    

                .img-wrapper
                    block-size: 2vh !important
                    inline-size: 100% !important
                    margin-inline: 2vw

                .img-svg
                    top: 2vh !important
                    left : 2vw !important

                    block-size: 4vh !important


//  WideScreen
@media only screen and (min-device-width: $wideScreen-width) and (min-height: $wideScreen-height)
    header 
        .slogan-wrapper 
            font-size: 0.57vw

    main
        section.info

            justify-content: space-around !important

            .carosel
                inline-size: 30vw !important

            .btn-container
                bottom: 21vw !important

                button.img-btn
                    font-size: 2em !important
            
            .caption
                bottom: 5.4vh !important

                div.btn-container
                    bottom: 27vh !important

                .img-btn
                    font-size: 6vw !important

            section.bio-container
                margin-block: 13vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 1.2vw !important

                section.bio-content
                    inline-size: 100% !important
                    

                    h3
                        font-size: 3vw !important

                    p
                        font-size: 1em !important          

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        h2.msg
            text-align: center

        section#spec-container

            .spec-wrapper
                margin-block: 5vh
                justify-content: flex-end

            .spec-class
                inline-size: 27vw

            p
                inline-size: 27vw
                font-size: 1.2em

            .h4-link
                margin: 0
                font-size: 1vw

            .spec-course
                display: block

        section#tech-repo    
            .pp
                block-size: 17vh
                inline-size: 23vw 
                background-size: 6vw 

                .tech-container
                    inline-size: 56vw

                    .relative
                        top: 0vh
                        left: -1vw

                .tech-wrapper
                    inline-size: 23vw
                
                h3
                    font-size: 1.2em
                    inline-size: 100% 

                p
                    font-size: 1em 
                    inline-size: 19vw 
                    margin-inline: 3vw
                    

                .img-wrapper
                    block-size: 2vh
                    inline-size: 21vw 
                    margin-inline: 2vw

                .img-svg
                    block-size: 3vh

        .flex-wrap-column-align-content-center

            #tech-bar
                inline-size: 52vw

            form input[type="text"]
                inline-size: 50%
                margin-block-end: 2vh
