@import misc
@import fonts
@import colour

@import flexbox

.slogan-wrapper
    font-size: 2.22vw

main 
    section.info
        block-size: 100%
        align-items: center
        justify-content: center

        .carosel
            inline-size: 100%
            @extend flex-column

            img
                inline-size: 100%
                border-radius: 0.5vw
            
            .caption
                bottom: 21.5vh
                color: $bg-light
                inline-size: 100%
                position: relative
                background-color: $overlay
                border-bottom-left-radius: 1em
                border-bottom-right-radius: 1em

                display: flex
                justify-content: center

            .btn-container
                cursor: pointer
                block-size: 100%
                inline-size: 100%
                
                position: relative
                bottom: 78vh
                
                display: flex
                justify-content: space-between

                button.img-btn
                    border: none
                    opacity: 0.3
                    font-size: 12vw
                    cursor: pointer
                    background-color: transparent
                    @extend ext-btn-functionallity
  
        section.bio-container
            inline-size: 100%

            h2
                font-size: 2em
                text-align: center
                margin-block-start: 0
                @extend work-sans-font

            nav.bio-bar
                inline-size: 100%
                
                background-color: transparent
                border-top: 1px solid $nav-bar
                border-bottom: 1px solid $nav-bar
                
                @extend flex-wrap-row
                justify-content: space-evenly

            
                button.bio-btn

                    border: none
                    padding: 1em
                    font-size: 1.45em
                    cursor: pointer
                    background-color: inherit
                    @extend ext-btn-functionallity
                    

                    &:hover
                        color: $highlight-color
                        background-color: rgb(207, 222, 226)
                        

            section.bio-content
                inline-size: 100%
                @extend roboto-font
                
                h3
                    margin-block-end: 0em 
                    @extend work-sans-font
                h4
                    margin-block-end: 0em
                    color: $highlight-color !important

        nav.ext-bar

            span 
                padding: 1vw
                font-size: 1em
            
            a
                padding: 1vw
                font-size: 1.5em
                text-decoration: none
                display: inline-block
                @extend ext-btn-functionallity

            &:hover,:visited
                color: inherit