{% extends 'base.html' %}
{% block main %}
            <article id='about-kristoffer'>
                <div id="carosel-container" class="img-container">      
                    <div id="carosel">
                    </div>
                    <div class="image-caption">
                    </div> 
                    <div id="img-btn" class="img-btn">
                        <button id ="next-btn" class="next-btn" onclick="next()">
                            <i class="bi bi-arrow-left-square-fill"></i>
                        </button>
                        <button id ="prev-btn" class="prev-btn" onclick="prev()"><i class="bi bi-arrow-right-square-fill"></i>
                        </button>
                    </div>
                    <div id="kake">
                            <h2>Kristoffer Gjøsund</h2>
                            <h3>Back-end Developer</h3>
                            <p>
                                My ideal lifestyle involves a balance between the passion of technology and wellness.
                                I dedicate my free time to coding, meditation, and physical activity and 
                                I am always looking for new challenges / adventures.
                            </p>
                            <p>
                                As Developer i prefer to organize my code with comments, to give out a greater understanding of the code which is written,
                                I also prefer to organize my code with a documentation for a greater understanding of the project.

                                My process of development includes a lot of simplicity at first, then I optimize the code for a better performance.
                                Through my journey as a developer, I have learned that the best way to ensure the quality for the code is through test frameworks.
                            </p>
                    </div>            
                </div>
                <nav class='ext-bar'>
                    <a href='#contact-me'>
                        <span>                           
                            <i class="bi bi-mailbox"></i>
                        </span>
                    </a>
                    <a href='{{ linked_in }}'>
                        <span>                           
                            <i class="bi bi-linkedin"></i>
                        </span>
                    </a>
                    <a href=''>
                        <span>                           
                            <i class="bi bi-github"></i>
                        </span>
                    </a>
                </nav>
                <nav>
                    <h2> Kristoffer Gjøsund</h2>
                    <a href="#journey">
                        <div class="btn-links" onclick="journey()">
                            <h3>The Journey</h3> 
                        </div> 
                    </a>
                    <a href="#profiles">
                        <div class="btn-links" onclick="profile()">
                            <h3>Personal & Work Profile</h3> 
                        </div> 
                    </a>
                    <a href="#personal">
                        <div class="btn-links" onclick="biography()">
                            <h3>About me</h3> 
                        </div> 
                    </a>
                </nav>
                <div id="bio"></div>
            </article>
            <section id='expertise'>
                <h2>Specialization</h2>
                <div class="siztion">
                    <div class="btn bi-getacademy">GetAcademy</div>
                    <h3>Start IT</h3>
                    <ul>
                        <li>Grunnleggende Programmering</li>
                        <ul>
                            <a href='#'>
                                <span>JavaScript</span>
                            </a>
                            <a href='#'>
                                <span>Github</span>
                            </a>
                            <a href='#'>
                                <span>Collebrations</span>
                            </a>
                        </ul>
                        <li>IT Utvikling</li>
                        <ul>
                            <a href='#'>
                                <span>Collebrations</span>
                            </a>
                            <a href='#'>
                                <span>Agile</span>
                            </a>
                        </ul>
                        <li>OOP With C#</li>
                        <ul>
                            <a href='#'>
                                <span>OOP</span>
                            </a>
                            <a href='#'>
                                <span>Collebrations</span>
                            </a>
                            <a href='#'>
                                <span>Agile</span>
                            </a>
                            <a href='#'>
                                <span>SQL</span>
                            </a>
                        </ul>
                    </ul>
                    <div class="btn bi-harvardx" onclick="specialization(this)">HarvardX</div>
                </div>
            </section> 
            <section id='full-stack'>
                <h2>Full-Stack Solutions</h2>
                <i class="bi bi-arrow-right-circle-fill"></i>
                <p>Showing Python | Flask Projects</p>
                {% if portefolio %}
                        <nav>
                            {% for pf in portefolio %}
                                <div class="pp">
                                    <div class="pro-nav">
                                        {% if pf.url %}
                                            <a href="{{pf['url']}}">
                                                <i class="bi bi-github"></i>
                                            </a>
                                        {% endif %}
                                        {% if pf.gurl %}
                                            <a href="{{pf['web']}}">
                                                <i class="bi bi-globe"></i>
                                            </a>
                                        {% endif %}
                                        {% if pf.yurl %}
                                            <a href="{{pf['ytube']}}">
                                                <i class="bi bi-youtube"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {% if pf['description'] != "none" %}
                                        <details>
                                            <summary>
                                                {{pf['name']}}
                                            
                                            </summary>
                                            <p> {{ pf['description']}} </p>
                                            <p>Date of creation :<time datatime="{{pf['date']}}"> {{pf['date']}}</time></p>
                                            <p>{{pf.lang}}</p>
                                        </details>
                                    {% else %}
                                        <span>{{pf['name']}} <time datatime="{{pf['date']}}">{{pf['date']}}</time></span>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </nav>
                
                {% endif %}
            </section>
{% endblock %}
    </body>
</html>