{% extends 'base.html' %}
{% block main %}
            <article id='about-kristoffer'>
                <div id="carosel-container" class="img-container">      
                    <div id="carosel" class="carosel">
                    </div>
                    <div class="image-caption">
                    </div> 
                    <div id ='bio'class="tab-container"></div>        
                </div>
                <nav class='ext-bar'>
                    <a href='{{ messenger }}'>
                        <span>                           
                            <i class="bi bi-mailbox"></i>
                        </span>
                    </a>
                    <a href='{{ linked_in }}'>
                        <span>                           
                            <i class="bi bi-linkedin"></i>
                        </span>
                    </a>
                    <a href='{{ github }}'>
                        <span>                           
                            <i class="bi bi-github"></i>
                        </span>
                    </a>
                </nav>
            </article>
            <section id='expertise'>
            </section> 
            <section id='full-stack'>
                <h2>Full-Stack Solutions</h2>
                <i class="bi bi-arrow-right-circle-fill"></i>
                <p>Showing Python | Flask Projects</p>
                {% if portefolio %}
                        <nav>
                            {% for pf in portefolio %}
                                <div class="pp">
                                    <div class="pro-nav">
                                        {% if pf.url %}
                                            <a href="{{pf['url']}}">
                                                <i class="bi bi-github"></i>
                                            </a>
                                        {% endif %}
                                        {% if pf.gurl %}
                                            <a href="{{pf['web']}}">
                                                <i class="bi bi-globe"></i>
                                            </a>
                                        {% endif %}
                                        {% if pf.yurl %}
                                            <a href="{{pf['ytube']}}">
                                                <i class="bi bi-youtube"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {% if pf['description'] != "none" %}
                                        <details>
                                            <summary>
                                                {{pf['name']}}
                                            
                                            </summary>
                                            <p> {{ pf['description']}} </p>
                                            <p>Date of creation :<time datatime="{{pf['date']}}"> {{pf['date']}}</time></p>
                                            <p>{{pf.lang}}</p>
                                        </details>
                                    {% else %}
                                        <span>{{pf['name']}} <time datatime="{{pf['date']}}">{{pf['date']}}</time></span>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </nav>
                {% else %}
                    <nav>
                        <div class="pp">
                            <div class="pro-nav">
                                <a href="https://github.com">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a href="https://krigjo25.no">
                                    <i class="bi bi-globe"></i>
                                </a>
                                <a href="https://youtube.com">
                                    <i class="bi bi-youtube"></i>
                                </a>
                            </div>
                            <details>
                                <summary>
                                    Project Name
                                </summary>
                                <p> A github repository</p>
                                <p>
                                    Date of creation :  <time datatime=""> </time>
                                </p>
                                <div class="tech-container flex-row">
                                    <div class='tech-wrapper'>
                                        <div class='tech-Python relative'></div>
                                        <span class='tech-label'>
                                            Python
                                        </span>
                                
                                    </div>
                                </div>
                            </details>
                            <span>
                                <time datatime=""></time>
                            </span>
                        </div>
                    </nav>
                {% endif %}
            </section>
{% endblock %}
    </body>
</html>