@charset "utf-8";
legend {
	background: trasparent;
	color: #D90003;
	font-weight: bold;
}
fieldset {
	border:hidden;
}
textarea {
	background-color: #FFFFFF;
	color: #000000;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
textarea:focus {
	border: #15DEFF;
	
input[type=radio]:focus {
	border: #15DEFF thick;
	border
	
}
input[type=submit] {
	background-color: #f1f1f1;
	padding: 16px 18px;
	color: #000000;
}
input[type=submit]:focus {
	
}