///  import css-variables from Color.sass
@import colour

%icon-size
    margin: 1vw
    padding: 1vw
    font-size: 1.5vw
    text-align: center
    min-inline-size: 50px


%icon-link
    color: inherit
    text-decoration: none 
    
    
nav

    .ext-bar
        display: flex
        flex-wrap: wrap
        margin-block-start: 2vh
        justify-content: center
        border-bottom: 1px groove black
            
        a
            @extend %icon-link
            margin: 0.5em
            padding: 0.5em
            border-radius: 50%
            text-align: center
            transition: 0aaaa.5s
            display: inline-block
            min-inline-size: 50px
   
    .bi-mailbox
        color: $dark-grey

    .bi-linkedin
        color: $linked-in

    .bi-youtube
        color: $youtube

    .bi-globe
        color: $dark-grey
    
    .bi-github
        color: $github

    &:hover
        .bi-linkedin
            color: $linked-in-hover

        .bi-github
            color: $github-hover

        .bi-youtube
            color: $youtube-hover

        .bi-globe
            color:$dark-grey-hover

    &:active

        .bi-linkedin
            color: $linked-in-active

        .bi-github:active
            color: $github-active

.contact-container

    a
        @extend %icon-link

    .bi-messenger
        color: $meseenger
        @extend %icon-size

    .bi-discord
        color: $discord
        @extend %icon-size

    .bi-mailbox
        color: $dark-grey
        @extend %icon-size

    .bi-messenger:hover
        color: $meseenger-hover

    .bi-discord:hover
        color: $discord-hover

    .bi-mailbox:hover
        color: $dark-grey-hover
            
    .bi-messenger:active
        color: $meseenger-active
    
    .bi-discord:active
        color: $discord-active
    
    .bi-mailbox:active
        color: $dark-grey-active

.social-media-container

    a
        @extend %icon-link

    .bi-facebook
        color: $facebook
        padding: 2vw
        @extend %icon-size
    
    .bi-instagram
        color: $instagram
        padding: 2vw
        @extend %icon-size

    .bi-facebook:hover
        color: $facebook-hover

    .bi-instagram:hover
        color: $instagram-hover

    .bi-facebook:active
        color: $facebook-active

    .bi-instagram:active
        color: $instagram-active


.specialization-container

    .bi-getacademy
        background: #FF9A00
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background: linear-gradient(to right, #FF9A00 0%, #FF7400 50%, #FF4D00 50%, #CF1512 100%)

.tech-container

    .bi-python
        font-family: python
///    .bi-c
///    .bi-js
///    .bi-db
