

@font-face
    font-family: python
    src: url(../lib/fonts/Flux_Regular/Flux_Regular.otf)

//  Variables
$black: rgba(40, 40, 40, 1)


    
    
    
nav

    .ext-bar
        display: flex
        flex-wrap: wrap
        margin-block-start: 2vh
        justify-content: center
        border-bottom: 1px groove black

        span 
            padding: 1vw
            font-size: 5vw
            
        a
            color: inherit
            text-decoration: none
            font-size: 1.5em
            margin: 0.5em
            padding: 0.5em
            border-radius: 50%
            transition: 0aaaa.5s
            display: inline-block
            text-align: center
            min-inline-size: 50px

    .bi-person, .bi-envelope-fill, .bi-file-eramark-richtext
        padding: 10px
        text-align: center
        min-inline-size: 50px

    .bi-mailbox
        color: $black

    .bi-linkedin
        color: rgba(0, 0, 128, 1) 

    .bi-youtube
        color: rgba(120, 6, 6, 1)

    .bi-globe
        color: rgba(0, 0, 0, 1)

    .bi-github
        color: rgb(105,105,105)

    &:hover
        .bi-linkedin
            color:rgba(25, 25, 140)

        .bi-github
        color: rgb(120,120,120)

        .bi-youtube
        color:rgba(120, 6, 6, 1)

        .bi-globe
            color:rgba(0, 0, 0, 1)

    &:active
        .bi-linkedin
            color:rgb(0, 0, 115)
        
        .bi-github:active
        color: rgb(45, 45, 45)


div

    .bi-getacademy
        background: #FF9A00
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background: linear-gradient(to right, #FF9A00 0%, #FF7400 50%, #FF4D00 50%, #CF1512 100%)

    .bi-python
        font-family: python
    .bi-c
    .bi-js
    .bi-db
