// Description: Colour variables for the website.
$overlay: rgba(40,40,40,0.7)
$orange-highlight-color:rgba(253, 86, 2, 1)

//  Theme colors
$dark-grey: rgba(40, 40, 40, 1) // browser dark
$dark-grey-hover: rgba(40, 40, 40, 0.8)
$dark-grey-active: rgba(40, 40, 40, 0.6)

$discord: rgba(88, 101, 242, 1)
$discord-hover: rgba(88, 101, 242, 0.8)
$discord-active: rgba(88, 101, 242, 0.6)

$github: rgba(105, 105, 105, 1)
$github-hover: rgba(120, 120, 120, 1)
$github-active: rgba(45, 45, 45)
 
$facebook: rgba(59, 89, 152, 1)
$facebook-hover: rgba(59, 89, 152, 0.8)
$facebook-active: rgba(59, 89, 152, 0.6)

$instagram: rgba(193, 53, 132, 1)
$instagram-hover: rgba(193, 53, 132, 0.8)
$instagram-active: rgba(193, 53, 132, 0.6)

$meseenger: rgba(0, 132, 255, 1)
$meseenger-hover: rgba(0, 132, 255, 0.8)
$meseenger-active: rgba(0, 132, 255, 0.6)

$youtube: rgba(255, 0, 0, 1)
$youtube-hover: rgba(120, 6, 6, 1)
$youtube-active: rgba(255, 0, 0, 0.6)

$linked-in: rgba(0, 0, 128, 1)
$linked-in-hover: rgba(25, 25, 140, 1)
$linked-in-active: rgba(0, 0, 115, 1)

// Tech colors
$other: rgba(40, 40, 40, 0.8)
$python: rgba(0, 0, 150, 0.8)
$html: rgba(255, 99, 71, 0.8)
$css: rgba(0, 191, 255, 0.8)
$js: rgba(255, 215, 0, 0.8)
$agile: rgba(0, 128, 0, 0.8)
$db: rgba(255, 0, 0, 0.8)