@import misc
@import colour
@import flex-wrap-row

.cnn-ctr 
    text-align: center

.fullstack-container
    @extend flex-wrap-row-space-evenly

.pp
    margin: 1em
    border-radius: 10px
    @extend flex-wrap-row
    border: 1px solid black


    a:link, a:visited
        color: inherit

    .pro-nav
        
        display: flex
        block-size: 100%
        padding-inline: 1em
        flex-direction: column
        justify-content: space-evenly
    
    .tech-container
        display: flex
        flex-wrap: wrap
        inline-size: 22vw
        @extend %user-select
        align-items: stretch
        flex-direction: column
        justify-content: space-between
        

        .relative
            left: 0.5em
            top: 0.7em
            position: relative

    .tech-wrapper
        margin: 5px
        display: flex
        border-radius: 10px
        margin-inline: 0.3em
        background-color: rgba(241, 241, 241, 1)

        &:hover
            transform: scale(1.1)
            box-shadow: $box-shadow
            transition: 0.3s ease-in-out
    
    span.tech-label
        padding: 0.7em
        font-size: 0.9em
        font-weight: 300
        font-style: oblique
        border-radius: 10px
        margin-inline: 0.3em

