@media (max-width: 768px)
    header a
        font-size: 0.57em !important

    button.bio-btn
        font-size: 0.7em !important

    section .bio-content
        inline-size: 82vw !important
        text-align: justify !important

    main
        article
            div.carosel
                block-size: 30em !important
                inline-size: 100% !important

                img
                    inline-size: 100% !important
            div.img-container

                div.btn-container
                    bottom: 39em !important
