@media only screen and (min-device-width:666px) and (max-device-width:1040px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)
    main
        section.info
            align-items: center
            flex-direction: column

            section.carosel
                inline-size: 45vw !important

                img
                    inline-size: 46vw

                .caption
                    bottom: 3.5em

                .btn-container
                    bottom: 17em

            section#bio
                margin: 0
                inline-size: 80vw

                nav.bio-link
                    margin: 0
                    inline-size: 100%

                    .bio-btn
                        transition: 3s
                        &:hover
                            transform: scale(1.1)

                section.bio-content
                    p
                        inline-size: 70vw    

        section#specialization-container

            .specialization-class
                inline-size:  42vw
            
                p
                    inline-size: 42vw

                .specialization-course
                    
                    .h4-link
                        font-size: 1.1em
                    .tech-container
                        inline-size: 45vw

        section#full-stack

            .pp
                inline-size: 70vw

                .tech-container
                    inline-size: 55vw