@media (max-width: 768px)
    header a
        font-size: 0.57em !important


    main
        article
            div.carosel
                block-size: 30em !important
                inline-size: 100% !important

                img
                    inline-size: 100% !important
            div.img-container

                div.btn-container
                    bottom: 39em !important

            section.bio-content
                    inline-size: 82vw !important
                    text-align: justify !important

                div.img-container
                    div.btn-container
                        bottom: 39em !important
        section#expertise
            .specialization-container
                .specialization-class
                
                    p
                        margin: auto
                        inline-size: 69vw !important
                        text-align: justify !important


                    .tech-container
                        inline-size: 87vw !important
        section#full-stack

            .pp
                inline-size: 100% !important

                .tech-container
                    inline-size: 60vw !important


            