//  Variables
@import colour

.caption
                
    z-index: 1
    bottom: 20vh
    display: flex
    color: $highlight-color
    block-size: 9vh
    position: relative
    justify-content: center
    background-color: $overlay
    border-bottom-left-radius: 1em
    border-bottom-right-radius: 1em

.blur
    bottom: 11vh
    block-size: 10vh
    position: relative
    filter: blur(0.5em)
    background-color: $blur-black