.btn-links
  font-size: 4vh
  inline-size: 40vh
  margin-inline: 1em
  text-align: center
  border-radius: 1vh
  background-color: #3c4bab
  background-color: rgb(179, 193, 211)

.btn-links:hover
    background-color: #626ebb


main 
    article
        nav.ext-bar
            display: flex
            flex-wrap: wrap

            a
                color: inherit
                text-decoration: none
                font-size: 1.5em
                margin: 0.5em
                padding: 0.5em
                border-radius: 50%
                transition: 0.5s
                display: inline-block
                text-align: center
                min-inline-size: 50px
            
            &:hover, :visited

                color: inherit

        div.carosel
            inline-size: 25vw

            img
                block-size: 100%
                inline-size: 100%

            div.caption
                
                z-index: 1
                bottom: 10vh
                display: flex
                color: #fefefe
                position: relative
                justify-content: center

                
        div.img-container
            display: flex
            flex-wrap: wrap
            align-items: center
            flex-direction: row
            justify-content: center
            align-items: flex-start
            
            div.img-btn
                z-index: 1
                bottom: 38vh
                display: flex
                cursor: pointer
                position: relative
                justify-content: space-between

                button.prev-btn, button.next-btn
                    //opacity: 0.3
                    border: none
                    font-size: 2vw
                    cursor: pointer
                    //color: #fefefe
                    background-color: transparent

                &:hover
                    opacity: 1
        .tab-container
            margin-inline: 5em    


        nav.ext-bar
            margin-block-start: 2vh
            justify-content: center
            border-bottom: 1px groove black

            span 
                padding: 1vw
                font-size: 5vw

        div.tab-links
            margin-left: 10vw

        div.bio-content
                inline-size: 25vw

        div.grid-container
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(13vw, 1fr))
            grid-gap: 1em

        .grid-item
            inline-size: 14vw
            
        .btn-links a:visited, btn-links a:link
            
            text-decoration: none
            color: rgb(254, 254, 254)
            background-color: #a1bfc9
