//  Importing CSS files for the project
@import url('forms.css')
@import url('overlay.css')
@import url('profile.css')
@import url('expertise.css')
@import url('fullstack.css')
@import url('btrapicons.css')
@import url('flex-wrap-row.css')
@import url('lang-filter.css')

//  Importing fonts for the project
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

    @font-face
    font-family: python
    src: url(../lib/fonts/Flux_Regular/Flux_Regular.otf)

// Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")



@import
flex-box
  display: flex
  padding: 1em
  flex-wrap: wrap
  margin: 1em auto
  flex-direction: row

    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    margin: 1em auto;
    flex-direction: row;
    justify-content: space-evenly;
main > section
    &:nth-child(even)
        background-color: rgb(254, 254, 254)

    &:nth-child(odd)
        background-color: rgba(231, 234, 253, 0.2)

nav
    margin: auto
    flex-wrap: wrap
    display: inherit
    flex-direction: row
    align-items: flex-start

nav h3
    margin-block: 3vh

body
    color: rgb(64, 64, 64)

header
    a
        text-decoration: none
        color: rgb(64, 64, 64)
        font-size: 1.5em
        font-weight: 300
        font-family: 'Roboto', sans-serif
        margin: 1em
        padding: 1em
        border-radius: 0.5em
        background-color: rgb(254, 254, 254)
        transition: 0.3s

footer

    padding: 1em
    @extend flex-box

.relative
    position: relative

.padding
    padding: 1em

.justify-content-space-evently-row
    @extend flex-wrap-row
    justify-content: space-evenly