//  Importing CSS files for the project
@import url('forms.css')
@import url('cssetc.css')
@import url('profile.css')
@import url('btrapicons.css')

//  Importing fonts for the project

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

// import Font-Icons
    /* Bootraps icons */    
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")

flex-box
  display: flex
  padding: 1em
  flex-wrap: wrap
  margin: 1em auto
  flex-direction: column


main > section
    @extend flex-box
    &:nth-child(even)
        background-color: rgb(254, 254, 254)

    &:nth-child(odd)
        background-color: rgba(231, 234, 253, 0.2)

nav
    margin: auto
    flex-wrap: wrap
    display: inherit
    flex-direction: row
    align-items: flex-start

nav h3
    margin-block: 3vh

body
    color: rgb(64, 64, 64)

header, footer
    @extend flex-box