.tools, .html, .css, .js, .structure {
    display: block;
    margin: 1em;
    inline-size: 20em;
    border: 1px solid rgba(0,0,0,1);
}

nav.menu {
    display: block;
    margin: 1em auto;
    inline-size: 100%;
}
div.item {

    margin: 0px;
    background-color: rgba(218, 218, 218, 1);
}

.item ul {
    margin:0;
}

.tools h2, .html h2, .css h2, .js h2, .structure h2 {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color:rgba(255, 255, 255, 1);
}

.tools h2 { 
    background-color: rgba(35, 65, 217,1);
}

.html h2 {
    background-color: rgba(117, 217, 35, 1);
}

.html a {
    color: rgba(133, 82, 65,1);
}


.css h2 {
    background-color: rgba(217, 80, 35,1);
}

.css a:link {
    color: rgba(59, 64, 89,1);
}


.js h2 {
    background-color: rgba(59, 64, 89, 1);
}

.js a {
    color: rgba(217, 80, 35,1);
}

.structure h2 {
    background-color: rgba(35, 65, 217,1);
}

.structure div {
    text-align: center;

}


.r {
    display: none;
    block-size: 1em;
    inline-size: 1em;
    border-radius: 10em;
    border: 1px solid red;
    background-color: red;
}
.g {
    display: none;
    block-size: 1em;
    inline-size: 1em;
    border-radius: 10em;
    border: 1px solid green;
    background-color: green;
}
.b {
    display: none;
    block-size: 1em;
    inline-size: 1em;
    border-radius: 10em;
    border: 1px solid blue;
    background-color: blue;
}
