//  Apple Devices Media Queries

//  Importing dependencies
@import breakpoints

//  Media Queries Portrait
@media only screen and (min-width: $iphone-7-width) and (max-width: 389px ) and (min-height: $iphone-7-height) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                .caption
                    font-size: 1em

                .relative
                    bottom: 7.3vh !important

                div.btn-container
                    bottom: 37vh !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%

        section#tech-repo
            .pp
                block-size: 20vh !important

                .tech-container
                    .relative
                        top: 2vh

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size : 82vw !important

                        .img-svg
                            block-size: 4vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    font-size: 1em !important
                    margin-inline-start: 13vw !important

@media only screen and (min-width: $iphone-plus-width) and (max-width: 429px )and (min-height: $iphone-plus-height)and (max-height: 895px) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper
            font-size: .592em !important

    main
        section.info
            .carosel
                inline-size: 60vw !important

                .caption
                    font-size: .9em !important

                .relative
                    bottom: 6.4vh !important

                div.btn-container
                    bottom: 27vh !important

            section.bio-container
                margin-block: 0vh !important
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                section.bio-content
                    

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important           

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 21vh !important

                p
                    margin-inline-start: 17vw
                    inline-size: 51vw !important
                    
                    
                .tech-container
                    .relative
                        top: 2vh !important

                    .img-wrapper
                        block-size: 3vh !important

                        .img-svg
                            block-size: 4vh !important

@media only screen and (min-width: $iphone-xr-width) and (max-width: 429px ) and (min-height: $iphone-xr-height) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                .caption
                    bottom: 5.7vh !important

                div.btn-container
                    bottom: 30vh !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 20vh !important

                .tech-container
                    .relative
                        top: 2vh

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size : 82vw !important

                        .img-svg
                            block-size: 4vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    font-size: 1em !important
                    margin-inline-start: 13vw !important

@media only screen and (min-width: $iphone-pro-width) and (max-width: 414px ) and (min-height: $iphone-pro-height) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                .caption
                    bottom: 5.9vh !important

                div.btn-container
                    bottom: 31vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 20vh !important

                .tech-container
                    .relative
                        top: 2vh

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size : 82vw !important

                        .img-svg
                            block-size: 4vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    font-size: 1em !important
                    margin-inline-start: 13vw !important

@media only screen and (min-width: $iphone-pro-max-width) and (max-width: 479px ) and (min-height: $iphone-pro-max-height) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                inline-size: 87vw !important
                .caption
                    bottom: 5.3vh !important

                div.btn-container
                    bottom: 27vh !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 100% !important
                
                button.img-btn
                    font-size: 2em !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 20vh !important

                .tech-container
                    .relative
                        top: 2vh

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size : 82vw !important

                        .img-svg
                            block-size: 4vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    font-size: 1em !important
                    margin-inline-start: 13vw !important

@media only screen and (min-width: $Ipad-Pro-width) and (max-width: 1113px) and (min-height: $Ipad-Pro-height) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 28vh !important
                inline-size: 35vw !important

                .caption
                    bottom: 3.7vh !important

                div.btn-container
                    bottom: 19vh !important

                    .img-btn
                        font-size: 2.5em !important

            section.bio-container
                inline-size: 47vw !important

                section.bio-content
                    inline-size: 100% !important 

                    p
                        inline-size: 100% !important    

        section#spec-container
            .spec-class
                inline-size:  47vw !important

                .spec-course
                    
                    .h4-link
                        font-size: 1.2em !important

        section#tech-repo
            .pp
                block-size: 13vh !important
                inline-size: 44vw !important
                background-size: 15vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 4vh !important
                        inline-size: 41vw !important

                        .img-svg
                            block-size: 3vh !important
                
                p
                    font-size: 1em !important
                    inline-size: 34vw !important
                    margin-inline-start: 6vw !important

@media only screen and (min-width: $Ipad-air-width) and (max-width: 849px ) and (min-height: $Ipad-air-height) and (orientation: portrait)
    header
        img
            inline-size: 11vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                block-size: 27vh !important
                inline-size: 35vw !important

                .caption
                    bottom: 4.3vh !important

                div.btn-container
                    bottom: 18vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper

            .spec-class
                inline-size:  45vw !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 17vh !important
                inline-size: 43vw !important
                background-size: 18vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 4vh !important
                        inline-size : 40vw !important

                        .img-svg
                            block-size: 4vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    inline-size: 32vw !important
                    margin-inline-start: 6vw !important

//  Media Queries Landscape
@media only screen and (min-width: $iphone-7-height) and (max-width: 735px) and (min-height: $iphone-7-width) and (orientation: landscape)
    header 
        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                inline-size: 53vw !important

                .caption
                    font-size: 1em !important
                
                .relative
                    bottom: 13.3vh !important

                div.btn-container
                    bottom: 16em !important

            section.bio-container
                margin-block-end: 2vh
                margin-inline: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                section.bio-content
                    inline-size: 100% !important
                    

                    h3
                        font-size: 1.5em !important

                    p
                        text-align: justify
                        font-size: 1em !important        

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section#spec-container

            .spec-class
                inline-size: 44vw !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                margin-inline: 1em
                block-size: 40vh !important
                inline-size: 41vw !important
                background-size: 16vw !important

                h3
                    margin-inline-start: 6vw
                p
                    inline-size: 28vw !important
                    margin-inline-end: 0vw !important
                    margin-inline-start: 7vw !important

                .tech-container
                    .relative
                        top: 3vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 6vh !important
                        inline-size: 37vw !important

                        .img-svg
                            block-size: 7vh !important

@media only screen and (min-width: $iphone-plus-height) and (max-width: 750px) and (min-height: $iphone-plus-width) and (orientation: landscape)
    header
        img
            inline-size: 11vw !important

        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                block-size: 67vh
                inline-size: 35vw !important

                .caption
                    font-size: .9em !important

                .relative
                    bottom: 11.3vh !important

                div.btn-container
                    bottom: 46vh !important
            
            section.bio-container
                inline-size: 50vw !important

        section#spec-container

            .spec-class
                inline-size: 40vw !important

        section#tech-repo
            .pp
                margin-inline: 1em
                inline-size: 40vw !important
                block-size: 43vh !important
                background-size: 16vw !important

                .tech-container
                    .relative
                        top: 3vh !important

                    .img-wrapper
                        block-size: 8vh !important
                        inline-size: 35vw !important

                        .img-svg
                            block-size: 7vh !important

                p
                    inline-size: 30vw !important
                    margin-inline-end: 0vw !important
                    margin-inline-start: 7vw !important

@media only screen and (min-width: $iphone-xr-height) and (max-width: 900px ) and (min-height: $iphone-xr-width) and (orientation: landscape)
    header
        img
            inline-size: 11vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                block-size: 81vh !important
                inline-size: 35vw !important

                .caption
                    bottom: 11.9vh !important
                
                div.btn-container
                    bottom: 55vh !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-container

            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 35vh !important
                inline-size: 44vw !important
                background-size: 15vw !important

                .tech-container
                    .relative
                        top: 3vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 7vh !important
                        inline-size : 39vw !important

                        .img-svg
                            block-size: 7vh !important

                .tech-wrapper

                    inline-size:  !important
                p
                    inline-size: 28vw !important
                    margin-inline-start: 7vw !important

@media only screen and (min-width: $iphone-pro-height) and (max-width: 850px ) and (min-height: $iphone-pro-width) and (orientation: landscape)
    header
        img
            inline-size: 11vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                block-size: 81vh !important
                inline-size: 35vw !important

                .caption
                    bottom: 13vh !important

                div.btn-container
                    bottom: 56vh !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper

            .spec-class
                inline-size:  47vw !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 41vh !important
                inline-size: 44vw !important
                background-size: 16vw !important

                .tech-container
                    .relative
                        top: 2vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 10vh !important
                        inline-size : 41vw !important

                        .img-svg
                            block-size: 7vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    inline-size: 32vw !important
                    margin-inline-start: 6vw !important

@media only screen and (min-width: $iphone-pro-max-height) and (max-width: 959px ) and (min-height: $iphone-pro-max-width) and (orientation: landscape)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                block-size: 82vh !important
                inline-size: 35vw !important

                .caption
                    bottom: 11.9vh !important

                div.btn-container
                    bottom: 58vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper
            .spec-class
                inline-size:  47vw !important

        section#tech-repo
            .pp
                block-size: 41vh !important
                inline-size: 29vw !important
                background-size: 13vw !important

                .tech-container
                    .relative
                        top: 2vh
                        left: 2vw !important

                    .img-wrapper
                        block-size: 10vh !important
                        inline-size : 24vw !important

                        .img-svg
                            block-size: 6vh !important

                .tech-wrapper
                    inline-size: 23vw !important
                p
                    font-size: 1em !important
                    inline-size: 21vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $Ipad-air-height) and (max-width: 1200px) and (min-height: $Ipad-air-width) and (orientation: landscape)
    header
        img
            inline-size: 11vw !important

        .slogan-wrapper 
            font-size: .52em !important

    main
        section.info
            .carosel
                block-size: 54vh !important
                inline-size: 35vw !important

                .caption
                    bottom: 6.1vh !important

                div.btn-container
                    bottom: 30vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                margin-block: 1vh
                margin-inline: 0 !important
                inline-size: 50vw !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-bar

                    button.bio-btn
                        font-size: 2em !important

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important
                        inline-size: 86vw !important            

                div.btn-container
                    bottom: 39em !important

                nav.ext-bar
                    
                    a
                        margin: 0

        section.spec-wrapper

            .spec-class
                inline-size:  45vw !important
            p
                inline-size: 100%
                text-align: justify

        section#tech-repo
            .pp
                block-size: 21vh !important
                inline-size: 28vw !important
                background-size: 13vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 6vh !important
                        inline-size: 25vw !important

                        .img-svg
                            block-size: 5vh !important

                p
                    inline-size: 21vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $Ipad-Pro-height) and (min-height: $Ipad-Pro-width) and (orientation: landscape)
    header
        img
            inline-size: 11vw !important

        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                block-size: 48vh !important
                inline-size: 35vw !important

                div.btn-container
                    bottom: 31vh !important

                    button.img-btn
                        font-size: 3em !important

                .caption
                    bottom: 4.8vh !important

            section.bio-container
                inline-size: 50vw !important
                
                .bio-btn
                    font-size: 1em !important
                    
        section.spec-wrapper
            margin-block-end: 0 !important

            .spec-class
                inline-size:  47vw !important

                .spec-course
                    .h4-link
                        font-size: 1.2em !important

        section#tech-repo
            .pp
                block-size: 14vh !important
                inline-size: 28vw !important
                background-size: 8vw !important

                p
                    margin-inline-end: 0 !important
                    margin-inline-start: 3vw !important
                    font-size: 1em !important
                    inline-size: 24vw !important
                h2
                    margin-inline-start: 0 !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 26vw !important

                        .img-svg
                            block-size: 3vh !important


