//  Black Berry Devices Media Queries

//  Importing dependencies
@import breakpoints


//  Portrait Issues
@media only screen and (min-width: $bberry-width) and (max-width: 539px) and (min-height: $bberry-height) and (max-height: 853px) and (orientation: portrait)

    main
        
        section.info

            .carosel
                div.btn-container
                    bottom: 40vh !important
            
                .caption
                    bottom: 6.2vh !important

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 2vh

                    .img-wrapper
                        inline-size: 85vw
                        .img-svg
                            block-size: 4vh !important
                p
                    margin-inline-start: 5vw

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $bberry-bt-width) and (max-width: 539px) and (min-height: $bberry-bt-height) and (max-height: 799px) and (orientation: portrait)

    header
        .slogan-wrapper
            font-size: .7em !important

    main
        
        section.info
            .carosel
                .caption
                    bottom: 7.8vh !important

                div.btn-container
                    bottom: 49vh !important

        section#tech-repo
            .pp
                block-size: 28vh !important
                background-size: 30vw !important

                .tech-container
                    .relative
                        top: 3vh !important

                    .img-wrapper
                        inline-size: 83vw !important

                        .img-svg
                            block-size: 5vh !important
                p
                    inline-size: 81vw !important
                    margin-inline-start: 5vw !important

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $bberry-curve-width) and (max-width: 374px) and (min-height: $bberry-curve-height) and (max-height: 639px) and (orientation: portrait)

    header
        .slogan-wrapper
            font-size: .496em !important

    main
        section.info
            .carosel
                .caption
                    bottom: 10.4vh !important

                div.btn-container
                    bottom: 51vh !important

        section#tech-repo
            .pp
                p
                    font-size: 1em !important

                .tech-container
                    .relative
                        top: 3vh
                    .img-wrapper
                        .img-svg
                            block-size: 6vh !important

        form input[type="text"]
            margin-block-end: 2vh

//  Landscape Issues
@media only screen and (min-width: $bberry-height) and (max-width: 853px) and (min-height: $bberry-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: .9em !important
    main
        section.info
            .carosel
                inline-size: 43vw

                .caption
                    bottom: 10.5vh !important

                div.btn-container
                    bottom: 54vh !important

        section#tech-repo
            .pp
                block-size: 32vh !important
                inline-size: 37vw !important
                background-size: 14vw !important

                .tech-container
                    .relative
                        top: 2vh 
                        left: 2vw
                    .img-wrapper
                        inline-size: 32vw !important

                        .img-svg
                            block-size: 6vh !important
                p
                    inline-size: 30vw !important

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $bberry-bt-height) and (max-width:  640px) and (min-height: $bberry-bt-width) and (orientation: landscape)

    header
        .slogan-wrapper
            font-size: .7em !important

    main
        
        section.info
            .carosel
                inline-size: 50vw !important
                .caption
                    bottom: 10.4vh !important

                div.btn-container
                    bottom: 50vh !important

        section#tech-repo
            .pp
                inline-size: 40vw !important
                block-size: 35vh !important
                background-size: 17vw !important

                .tech-container
                    .relative
                        top: 2vh !important
                        left: 3vw !important

                    .img-wrapper
                        inline-size: 36vw !important

                        .img-svg
                            block-size: 6vh !important

                p
                    inline-size: 35vw !important
                    margin-inline-start: 4vw
                
                

        form input[type="text"]
            margin-block-end: 2vh

@media only screen and (min-width: $bberry-curve-height) and (max-width: 500px) and (min-height: $bberry-curve-width) and (orientation: landscape)

    header
        .slogan-wrapper
            font-size: .49em

    main
        section.info
            .carosel
                inline-size: 50vw !important

                .caption
                    bottom: 13.9vh !important

                div.btn-container
                    bottom: 54vh !important

        section#tech-repo
            .pp
                block-size: 46vh !important
                inline-size: 40vw !important

                .tech-container
                    .relative
                        top: 3vh

                    .img-wrapper
                        inline-size: 36vw !important

                        .img-svg
                            block-size: 6vh !important

                p
                    font-size: 1em !important
                    inline-size: 34vw !important

        form input[type="text"]
            margin-block-end: 2vh
