//  Media query Breakpoints

//  Mobile Breakpoints
$bberry-width: 480px
$bberry-height: 800px

$bberry-bt-width: $bberry-width
$bberry-bt-height: 640px

$bberry-curve-width: 360px
$bberry-curve-height: $bberry-bt-width

$google-pixel-width: 412px
$google-pixel-height: 915px

$htc-desire-width: 320px
$htc-desire-height: 533px

$htc-one-width: $bberry-curve-width
$htc-one-height: $bberry-bt-height

$htc-sensation-width: 540px
$htc-sensation-height: 960px

$iphone-width: $htc-desire-width
$iphone-height: $bberry-width

$iphone-7-width: 375px
$iphone-7-height: 667px

$iphone-plus-width : 414px
$iphone-plus-height: 736px

$iphone-xr-width: $iphone-plus-width
$iphone-xr-height: 896px

$iphone-pro-width: 390px
$iphone-pro-height: 844px

$iphone-pro-max-width: 430px
$iphone-pro-max-height: 926px

$motorola-mobility-milestone-width: $iphone-width
$motorola-mobility-milestone-height: 570px

$samsung-gs8-width: $htc-one-width
$samsung-gs8-height: 740px

$samsung-gs20u-width: $google-pixel-width
$samsung-gs20u-height: $google-pixel-height

$samsung-gcz5-width: 344px
$samsung-gcz5-height: 882px

$samsung-gfz5-width: 690px
$samsung-gfz5-height: 829px

$samsung-ga5171-width: $samsung-gs20u-width
$samsung-ga5171-height: 914px

$sony-ericsson-u-width: $iphone-height
$sony-ericsson-u-height: 854px

$sharp-sx862-width: $sony-ericsson-u-width
$sharp-sx862-height: $sony-ericsson-u-height

$sharp-941sh-width: $sharp-sx862-width
$sharp-941sh-height: 1024px

$sharp-is03-width: $htc-one-height
$sharp-is03-height: $htc-sensation-height

//  Tablet Breakpoints
$tablet-width: 600px
$tablet-height: $bberry-height

$amazon-kindle-fire-width: $tablet-width
$amazon-kindle-fire-height: $sharp-941sh-height

$amazon-kindle-fire-hd-width: $tablet-height
$amazon-kindle-fire-hd-height: 1280px

$google-nh-width: $amazon-kindle-fire-height
$google-nh-height: 600px

$google-nhm-width: $google-nh-width
$google-nhm-height: 800px

$Ipad-width: 768px
$Ipad-height: $google-nhm-width

$Ipad-air-width: 820px
$Ipad-air-height: 1180px

$Ipad-Pro-width: $Ipad-height
$Ipad-Pro-height: 1366px

$surface-pro-width: 912px
$surface-pro-height: 1368px

$samsung-tab-width: 400px
$samsung-tab-height: 683px

$surface-duoc-width: $htc-sensation-width
$surface-duoc-height: 720px

$surface-duof-width: 1114px
$surface-duof-height: $surface-duoc-height


// Big Screens Breakpoints
$wideScreen-width: 1274px
$wideScreen-height: $Ipad-width

$display-hd-720p-width: $amazon-kindle-fire-hd-height
$display-hd-720p-height: $surface-duoc-height

$display-hd-1080i-width: 1440px
$display-hd-1080i-height: 1080px

$apple-cd-width: 1600px
$apple-cd-height: 2560px

$display-asus-zbc-width: 853px
$display-asus-zbc-height: $display-hd-720p-width

$display-asus-zbf-width: 1706px
$display-asus-zbf-height: $display-asus-zbc-height

$display-hd-1080p-width: 1839px
$display-hd-1080p-height: 846px