//  Display Media Queries
@import breakpoints

//  Portrait
@media only screen and (min-width: $apple-cd-width) and (min-height: $apple-cd-height) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 3vh !important
                inline-size: 23vw !important

                .relative
                    bottom: 1.8vh !important 
               
                div.btn-container
                    bottom: 11vh !important

        section#tech-repo
            .pp
                block-size: 9vh !important
                inline-size: 30vw !important
                background-size: 12vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 27vw !important
                        

                        .img-svg
                            block-size: 2vh !important 
                p
                    inline-size: 21vw !important

@media only screen and (min-width: $display-hd-1080p-height) and (min-height : $display-hd-1080p-width) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 25vh !important
                inline-size: 23vw !important
                margin-inline-end: 0 !important

                .relative
                    bottom: 4.6vh !important   

                div.btn-container
                    bottom: 25vh !important

        section#tech-repo
            .pp
                block-size: 19vh !important
                inline-size: 25vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 23vw !important

                        .img-svg
                            block-size: 2vh !important
                p
                    inline-size: 19vw !important

@media only screen and (min-width: $display-hd-1080i-width) and (min-height : $display-hd-1080i-height) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 14vh !important
                inline-size: 33vw !important
                margin-inline-end: 0 !important

                .relative
                    bottom: 3.6vh !important   

                div.btn-container
                    bottom: 18vh !important

        section.bio-container
            nav.bio-bar
                button.bio-btn
                    font-size: 1.138em !important

        section#tech-repo
            .pp
                block-size: 13vh !important
                inline-size: 29vw !important
                background-size: 13vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 22vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 25vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $display-hd-720p-width) and (max-width: 1365px) and (min-height : $display-hd-720p-height) and (orientation: portrait)
    main
        section.info
            .carosel
                inline-size: 50vw !important
                margin-inline-end: 0 !important

                .relative
                    bottom: 3.9vh !important   

                div.btn-container
                    bottom: 21vh !important

                    button.img-btn
                        font-size: 3em !important

        section.bio-container
            nav.bio-bar
                button.bio-btn
                    font-size: 2em !important

        section#tech-repo
            .pp
                block-size: 13vh !important
                inline-size: 43vw !important
                background-size: 19vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 41vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 37vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $display-asus-zbc-width) and (max-width: 1023px) and (min-height: $display-asus-zbc-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: .7em !important
        img
            inline-size: 15vw !important

    main
        section.info
            .carosel
                block-size: 25vh
                inline-size: 35vw !important

                .relative
                    bottom: 4vh !important
        
                div.btn-container
                    bottom: 17vh !important

            section.bio-container
                    inline-size: 50vw !important
            
        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                block-size: 14vh !important
                inline-size: 43vw !important
                background-size: 17vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 38vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 25vw !important

@media only screen and (min-width: $display-asus-zbf-height) and (min-height: $display-asus-zbf-width) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: .7em !important
        img
            inline-size: 11vw !important

    main
        section.info
            .carosel
                block-size: 27vh !important
                inline-size: 35vw !important

                .relative
                    bottom: 2.9vh !important

                div.btn-container
                    bottom: 18vh !important

            section.bio-container
                inline-size: 50vw !important

                button.bio-btn
                    font-size: 1em !important

        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                block-size: 11vh !important
                inline-size: 28vw !important
                background-size: 11vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 25vw !important

                        .img-svg
                            block-size: 2vh !important
                p
                    inline-size: 23vw !important
                    margin-inline-start: 4vw !important


//  Landscape
//  Does not load
@media only screen and (min-width: $display-hd-1080p-width) and (min-height : $display-hd-1080p-height) and (orientation: landscape)
    header
        img
            inline-size: 8vw !important

        .slogan-wrapper
            font-size: .7vw !important
    main
        section.info
            margin-block-end: 17vh !important

            .carosel
                block-size: 55vh !important
                inline-size: 26vw !important
                margin-inline-end: 0 !important

                .relative
                    bottom: 5.3vh !important   

                div.btn-container
                    bottom: 35vh !important

                    button.img-btn
                        font-size: 3em !important

            section.bio-container
                inline-size: 50vw

                p 
                    text-align: justify

        section.spec-wrapper
            .spec-class
                inline-size: 34vw

                p
                    text-align: justify

        section#tech-repo
            .pp
                block-size: 18vh !important
                inline-size: 23vw !important
                background-size: 7vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 21vw !important

                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 16vw !important
                    margin-inline-start: 4vw !important

            nav#tech-bar
                inline-size: 47vw !important

@media only screen and (min-width: $display-hd-1080i-height) and (min-height : $display-hd-1080i-width) and (orientation: landscape)
    main
        section.info
            .carosel
                block-size: 44vh !important
                inline-size: 33vw !important
                margin-inline-end: 0 !important

                .relative
                    bottom: 4.6vh !important   

                div.btn-container
                    bottom: 31vh !important

        section#tech-repo
            .pp
                block-size: 15vh !important
                inline-size: 25vw !important
                background-size: 9vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 22vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 19vw !important

@media only screen and (min-width: $display-hd-720p-height) and (min-height : $display-hd-720p-width) and (orientation: landscape)
    main
        section.info
            .carosel
                block-size: 50vh !important
                margin-inline-end: 0 !important

                .relative
                    bottom: 7vh !important   

                div.btn-container
                    bottom: 42vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                nav.bio-bar
                    button.bio-btn
                        font-size: 1.37em !important

        section.spec-wrapper
            .spec-class
                inline-size: 48vw !important

        section#tech-repo
            .pp
                block-size: 21vh !important
                inline-size: 29vw !important
                background-size: 9vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 26vw !important

                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 23vw !important

@media only screen and (min-width: $display-asus-zbc-height) and (max-width: 1300px) and (min-height: $display-asus-zbc-width) and (max-height: 1023px) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: .7em !important
        img
            inline-size: 11vw !important

    main
        section.info
            .carosel
                block-size: 54vh !important
                inline-size: 35vw !important

                .relative
                    bottom: 5.9vh !important

                div.btn-container
                    bottom: 35vh !important

        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                block-size: 16vh !important
                inline-size: 28vw !important
                background-size: 9vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 25vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 23vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $display-asus-zbf-width) and (min-height: $display-asus-zbf-height) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: .7em !important

        img
            inline-size: 15vw !important

    main
        section.info
            .carosel
                block-size: 34vh !important
                inline-size: 25vw !important

                .relative
                    bottom: 3.9vh !important

                div.btn-container
                    bottom: 24vh !important

                    button.img-btn
                        font-size: 3em !important

        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                block-size: 16vh !important
                inline-size: 28vw !important
                background-size: 11vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 5vh !important
                        inline-size: 25vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 19vw !important
                    margin-inline-start: 4vw !important
