//  Display Media Queries
@import breakpoints

//  Portrait
@media only screen and (min-width: $apple-cd-width) and (min-height: $apple-cd-height) and (orientation: portrait)
    main
        section.info
            .carosel
                inline-size: 23vw !important
                block-size: 3vh !important

                .caption
                    bottom: 1.8vh !important 
               
                div.btn-container
                    bottom: 11vh !important

        section#tech-repo
            .pp
                inline-size: 30vw !important
                block-size: 9vh !important
                background-size: 12vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 27vw !important
                        

                        .img-svg
                            block-size: 2vh !important 
                p
                    inline-size: 21vw !important

//  Issues
@media only screen and (min-width: $display-hd-1080p-height) and (min-height : $display-hd-1080p-width) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 25vh !important
                inline-size: 23vw !important
                margin-inline-end: 0 !important

                .caption
                    bottom: 4.6vh !important   

                div.btn-container
                    bottom: 25vh !important

        section#tech-repo
            .pp
                block-size: 19vh !important
                inline-size: 25vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 23vw !important

                        .img-svg
                            block-size: 2vh !important
                p
                    inline-size: 19vw !important

@media only screen and (min-width: $display-hd-1080i-height) and (max-width: 1100px) and (min-height : $display-hd-1080i-width) and (orientation: portrait)
    main
        section.info
            .carosel
                block-size: 14vh !important
                inline-size: 33vw !important
                margin-inline-end: 0 !important

                .caption
                    bottom: 3.6vh !important   

                div.btn-container
                    bottom: 18vh !important

        section.bio-container
            nav.bio-bar
                button.bio-btn
                    font-size: 1.138em !important

        section#tech-repo
            .pp
                block-size: 13vh !important
                inline-size: 29vw !important
                background-size: 13vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 22vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 25vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $display-hd-720p-height) and (max-width: 799px) and (min-height : $display-hd-720p-width) and (orientation: portrait)
    main
        section.info
            .carosel
                inline-size: 50vw !important
                margin-inline-end: 0 !important

                .caption
                    bottom: 3.9vh !important   

                div.btn-container
                    bottom: 21vh !important

                    button.img-btn
                        font-size: 3em !important

        section.bio-container
            nav.bio-bar
                button.bio-btn
                    font-size: 2em !important

        section#tech-repo
            .pp
                block-size: 13vh !important
                inline-size: 43vw !important
                background-size: 19vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 41vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 37vw !important
                    margin-inline-start: 4vw !important


//  Landscape
//  Issues
@media only screen and (min-width: $display-hd-1080p-width) and (min-height : $display-hd-1080p-height) and (orientation: landscape)
    main
        section.info
            .carosel
                block-size: 25vh !important
                inline-size: 23vw !important
                margin-inline-end: 0 !important

                .caption
                    bottom: 4.6vh !important   

                div.btn-container
                    bottom: 25vh !important

        section#tech-repo
            .pp
                block-size: 19vh !important
                inline-size: 25vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 2vh !important
                        inline-size: 23vw !important

                        .img-svg
                            block-size: 2vh !important
                p
                    inline-size: 19vw !important

@media only screen and (min-width: $display-hd-1080i-width) and (min-height : $display-hd-1080i-height) and (orientation: landscape)
    main
        section.info
            .carosel
                block-size: 44vh !important
                inline-size: 33vw !important
                margin-inline-end: 0 !important

                .caption
                    bottom: 4.6vh !important   

                div.btn-container
                    bottom: 31vh !important

        section#tech-repo
            .pp
                block-size: 15vh !important
                inline-size: 25vw !important
                background-size: 9vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 22vw !important

                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 19vw !important

@media only screen and (min-width: $display-hd-720p-width) and (min-height : $display-hd-720p-height) and (max-height: 799px) and (orientation: landscape)
    main
        section.info
            .carosel
                block-size: 50vh !important
                margin-inline-end: 0 !important

                .caption
                    bottom: 7vh !important   

                div.btn-container
                    bottom: 42vh !important

                    button.img-btn
                        font-size: 2.5em !important

            section.bio-container
                nav.bio-bar
                    button.bio-btn
                        font-size: 1.37em !important

        section.spec-wrapper
            .spec-class
                inline-size: 48vw !important

        section#tech-repo
            .pp
                block-size: 21vh !important
                inline-size: 29vw !important
                background-size: 9vw !important

                .tech-container
                    .relative
                        top: 1vh !important
                        left: 1vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 26vw !important

                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 23vw !important
