/*Pixel*/
@media only screen and (min-width: 414px) and (max-width: 896px) and (orientation: portrait)
    
    header a
        font-size: 0.57em 

    main
        section.info

            .carosel
                block-size: 36vh
                inline-size: 49vw 
                align-items: center

                .caption
                    bottom: 5.5vh

            section.bio-container
                margin-inline: 0
                inline-size: 100%

                h2
                    font-size: 2em
                    text-align: center

                nav.bio-link

                    button.bio-btn
                        font-size: 1em 

                section.bio-content
                    inline-size: 86vw

                    h3
                        font-size: 1.5em

                    p
                        font-size: 1em
 
                div.btn-container
                    bottom: 39em

        section.spec-wrapper
            inline-size: 100%
            flex-direction: column

            .spec-class
                inline-size: 84vw
                display: flex
                flex-direction: column
    
                .h3-link
                    margin-block: 1vh

                .tech-container
                    inline-size: 87vw

                .spec-course
                    .h4-link
                        margin-block: 1vh

        section#full-stack
            .pp
                inline-size: 100%

                .tech-container
                    inline-size: 60vw
