//  Microsoft Devices Media Queries

//  Importing dependencies
@import breakpoints

//  Portrait
@media only screen and (min-width: $surface-pro-width) and (max-width: 1023px) and (min-height: $surface-pro-height) and (orientation: portrait)
    
    header
        .slogan-wrapper
            font-size: 0.9em  !important

    main
        section.info
            .carosel
                .caption
                    bottom: 3.8vh !important

                div.btn-container
                    bottom: 22vh !important

                section.bio-content
                    inline-size: 100% !important

                    p
                        inline-size: 100% !important

        section.spec-wrapper

            inline-size: 100%

            .spec-class
                inline-size: 84vw
    
                .h3-link
                    margin-block: 1vh
                
                p
                    inline-size: 69vw

                .tech-container
                    inline-size: 87vw

                .spec-course
                    .h4-link
                        margin-block: 1vh

        section#tech-repo
            .pp
                block-size: 13vh !important
                inline-size: 35vw !important
                background-size: 14vw !important

                .tech-container
                    .img-wrapper
                        block-size: 1vh !important
                        inline-size: 32vw !important

                        .img-svg
                            block-size: 2vh !important
                p
                    inline-size: 24vw !important


@media only screen and (min-width: $surface-duo-width) and (min-height: $surface-duo-height) and (max-height: 828px)  and (orientation: portrait)
    
    header
        .slogan-wrapper
            font-size: 0.9em  !important

    main
        section.info
            .carosel
                block-size: 100%
                inline-size: 100% 

                .caption
                    bottom: 3em !important

            div.btn-container
                bottom: 50vh !important

            section.bio-container

                h2
                    font-size: 2em
                    text-align: center

                nav.bio-link

                    button.bio-btn
                        font-size: 1em 

                section.bio-content

                    h3
                        font-size: 1.5em

                    p
                        font-size: 1em        

                div.btn-container
                    bottom: 39em

        section.spec-wrapper
            inline-size: 100%

            .spec-class
                inline-size: 84vw
    
                .h3-link
                    margin-block: 1vh

                .tech-container
                    inline-size: 87vw

                .spec-course
                    .h4-link
                        margin-block: 1vh

        section#tech-repo

            .pp
                block-size: 21vh !important
                inline-size: 63vw !important
                background-size: 22vw !important

                .tech-container
                    .relative
                        top: 2vh !important
                        left: 4vw !important
                    
                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 58vw !important

                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 51vw !important
                    margin-inline-start: 10vw !important

//  Landscape
@media only screen and (min-width: $surface-duo-height) and (max-width: 799px) and (min-height: $surface-duo-width) and (orientation: landscape)
    
    header
        img
            inline-size: 13vw !important
        .slogan-wrapper
            font-size: 0.9em  !important 

    main
        section.info
            .carosel
                block-size: 100%
                inline-size: 100% 

                .caption
                    bottom: 3em !important

            div.btn-container
                bottom: 50vh !important

            section.bio-container
                inline-size: 52vw
                margin-inline-start: 6vw

                h2
                    font-size: 2em
                    text-align: center

                nav.bio-link

                    button.bio-btn
                        font-size: 1em 

                section.bio-content
                    inline-size: 60vw

                    h3
                        font-size: 1.5em

                    p
                        font-size: 1em        

                div.btn-container
                    bottom: 39em

        section.spec-wrapper
            inline-size: 100%

            .spec-class
                inline-size: 84vw
    
                .h3-link
                    margin-block: 1vh
                
                p
                    inline-size: 69vw

                .tech-container
                    inline-size: 87vw

                .spec-course
                    .h4-link
                        margin-block: 1vh

        section#tech-repo

            .pp
                block-size: 21vh !important
                inline-size: 38vw !important
                background-size: 14vw !important

                .tech-container
                    .relative
                        top: 2vh !important
                        left: 2vw !important
                    
                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 35vw !important

                        .img-svg
                            block-size: 4vh !important
                h3
                    margin-inline-start: 0 !important
                p
                    inline-size: 30vw !important
                    margin-inline-start: 5vw !important

