//  Samsung Devices Media Queries

//  Importing dependencies
@import breakpoints

//  Portrait Media Queries
@media only screen and (min-width: $samsung-tab-width) and (min-height: $samsung-tab-height) and (orientation: portrait)

    header.slogan-wrapper
        font-size: .549em
    main
        section.info
            
            .carosel
            
                div.btn-container
                    bottom: 42vh
                    inline-size: 47vw
                
                .caption
                    bottom: 7.4vh

        section#tech-repo
            .pp
                .tech-container
                    .img-wrapper
                        .img-svg
                            block-size: 4vh !important

/*Samsung Galaxy Foldable*/
@media only screen and (min-device-width: 344px) and (max-device-width: 882px) and (orientation: portrait)
    header a
        font-size: 0.57em

    main
        section.info
            
            .carosel
                block-size: 26vh
                inline-size: 47vw
                align-items: center
            
                div.btn-container
                    bottom: 11em
                    inline-size: 47vw
                
                .caption
                    bottom: 5.8vh
    
            section.bio-container
                margin-inline-start: 0 !important
                inline-size: 100% !important

                h2
                    font-size: 2em !important
                    text-align: center !important

                nav.bio-link

                    button.bio-btn
                        font-size: 1em !important

                section.bio-content
                    inline-size: 86vw !important
                    

                    h3
                        font-size: 1.5em !important

                    p
                        font-size: 1em !important

                .btn-container
                    bottom: 39em !important

        section.spec-wrapper
            inline-size: 100% !important
            flex-direction: column !important

            .spec-class
                inline-size: 84vw !important
                display: flex !important
                flex-direction: column !important
    
                .h3-link
                    margin-block: 1vh !important

                .tech-container
                    inline-size: 87vw !important

                .spec-course
                    .h4-link
                        margin-block: 1vh !important

        section#full-stack
            .pp
                inline-size: 100% !important

                .tech-container
                    inline-size: 54vw !important

/* Samsung galaxy S8*/
@media only screen and (min-device-width: 360px) and (max-device-width: 740px)  and (orientation: portrait)
    
    header a
        font-size: 0.57em 

    main
        section.info

            .carosel
                block-size: 36vh
                inline-size: 49vw 
                align-items: center

                .caption
                    bottom: 6.9vh

            .btn-container
                bottom: 11em !important

            section.bio-container
                margin-inline: 0
                inline-size: 100%

                h2
                    font-size: 2em
                    text-align: center

                nav.bio-link

                    button.bio-btn
                        font-size: 1em 

                section.bio-content
                    inline-size: 86vw
                    

                    h3
                        font-size: 1.5em

                    p
                        font-size: 1em           

                div.btn-container
                    bottom: 39em

        section.spec-wrapper

            inline-size: 100%
            flex-direction: column

            .spec-class
                inline-size: 84vw
                display: flex
                flex-direction: column
    
                .h3-link
                    margin-block: 1vh

                .tech-container
                    inline-size: 87vw

                .spec-course
                    .h4-link
                        margin-block: 1vh

        section#full-stack
            .pp
                inline-size: 100%

                .tech-container
                    inline-size: 60vw

/* Samsung galaxy S20 Ultra*/
@media only screen and (min-device-width: 412px) and (max-device-width: 915px) and (orientation: portrait)
    
    header a
        font-size: 0.57em 

    main
        section.info

            .carosel
                block-size: 36vh
                inline-size: 49vw 
                align-items: center

                .caption
                    bottom: 5.5vh

            .btn-container
                bottom: 11em !important

            section.bio-container
                margin-inline: 0
                inline-size: 100%

                h2
                    font-size: 2em
                    text-align: center

                nav.bio-link

                    button.bio-btn
                        font-size: 1em 

                section.bio-content
                    inline-size: 86vw

                    h3
                        font-size: 1.5em

                    p
                        font-size: 1em        

                div.btn-container
                    bottom: 39em

        section.spec-wrapper

            inline-size: 100%
            flex-direction: column

            .spec-class
                inline-size: 84vw
                display: flex
                flex-direction: column
    
                .h3-link
                    margin-block: 1vh
                
                p
                    inline-size: 69vw

                .tech-container
                    inline-size: 87vw

                .spec-course
                    .h4-link
                        margin-block: 1vh

        section#full-stack

            .pp
                inline-size: 100%

                .tech-container
                    inline-size: 60vw

//  Landscape Media Queries
@media only screen and (min-width: $samsung-tab-width) and (min-height: $samsung-tab-height) and (orientation: landscape)
    main
        section.info
            .carosel
                .caption
                    bottom: 12.5vh