//  Samsung Devices Media Queries

//  Importing dependencies
@import breakpoints


//  Portrait Media Queries
@media only screen and (min-width: $samsung-tab-width) and (max-width: 413px) and (min-height: $samsung-tab-height) and (orientation: portrait)

    header.slogan-wrapper
        font-size: .549em
    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 42vh
                
                .caption
                    bottom: 7.4vh

        section#tech-repo
            .pp
                .tech-container
                    .img-wrapper
                        .img-svg
                            block-size: 4vh !important

/*Samsung Galaxy Foldable*/
@media only screen and (min-device-width: 344px) and (max-device-width: 882px) and (orientation: portrait)

/* Samsung galaxy S8*/
@media only screen and (min-device-width: 360px) and (max-device-width: 740px)  and (orientation: portrait)

/* Samsung galaxy S20 Ultra*/
@media only screen and (min-device-width: 412px) and (max-device-width: 915px) and (orientation: portrait)


//  Landscape Media Queries
@media only screen and (min-width: $samsung-tab-width) and (min-height: $samsung-tab-height) and (orientation: landscape)
    main
        section.info
            .carosel
                .caption
                    bottom: 12.5vh