//  Samsung Devices Media Queries

//  Importing dependencies
@import breakpoints

//  Portrait Media Queries
@media only screen and ($samsung-tab-width <= width <= 413px) and (min-height: $samsung-tab-height) and (orientation: portrait)

    header
        .slogan-wrapper
            font-size: .6em !important

    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 40vh
                
                    button.img-btn
                        font-size: 2.5em

                .caption
                    font-size: 1em
                
                .relative
                    bottom: 7.3vh

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 2vh
                        left: 3vw
                    .img-wrapper
                        block-size: 5vh !important
                        inline-size: 84vw !important

                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 70vw

@media only screen and ( $samsung-gcz5-width <= width <= 359px) and (min-height: $samsung-gcz5-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: 0.5em !important

    main
        section.info
            .carosel
                
                div.btn-container
                    bottom: 28vh !important

                .caption
                    bottom: 5.6vh !important
            
        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 1vh !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 80vw !important
                    
                        .img-svg
                            block-size: 4vh !important

@media only screen and ($samsung-gfz5-width <= width <=  719px) and (min-height: $samsung-gfz5-height) and (orientation: portrait)
    header
        .slogan-wrapper
            font-size: 0.5em !important

    main
        section.info
            .carosel
                block-size: 42vh 
                inline-size: 35vw !important

                div.btn-container
                    bottom: 31vh !important

                .caption
                    bottom: 6vh !important
            section.bio-container
                inline-size: 40vw !important
        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                margin-inline: 1em
                block-size: 21vh
                inline-size: 43vw !important
                background-size: 20vw !important

                .tech-container
                    .relative
                        top: 1vh !important

                    .img-wrapper
                        block-size: 4vh !important
                        inline-size: 38vw !important
                    
                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 31vw !important
                    margin-inline-start: 11vw !important

@media only screen and ($samsung-gs8-width <= width <= 374px) and (min-height: $samsung-gs8-height) and (orientation: portrait)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper
            font-size: .7em !important

    main
        section.info
            .carosel
            
                div.btn-container
                    bottom: 35vh !important

                .caption
                    bottom: 6.8vh !important

@media only screen and ($samsung-ga5171-width <= width <= 429px) and (min-height: $samsung-ga5171-height) and (orientation: portrait)
    main
        section.info
            .carosel
                .relative
                    bottom: 5.4vh !important

        section#tech-repo
            .pp
                .tech-container
                    .relative
                        top: 1vh !important

                    .img-wrapper
                        block-size: 4vh !important
                    
                        .img-svg
                            block-size: 4vh !important

//  Landscape Media Queries
@media only screen and ($samsung-tab-height <= width <= 735px) and (min-height: $samsung-tab-width) and (orientation: landscape)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper
            font-size: .7em !important

    main
        section.info
            .carosel
                block-size: 74vh !important
                inline-size: 40vw !important

                div.btn-container
                    bottom: 52vh !important


                .caption
                    bottom: 12.4vh !important

            section.bio-container
                inline-size: 50vw !important
        section#tech-repo
            .pp
                .tech-container
                    .img-wrapper
                        block-size: 7vh !important

                        .img-svg
                            block-size: 6vh !important
                p
                    inline-size: 31vw !important

@media only screen and ($samsung-gs8-height <= width <= 828px) and (min-height: $samsung-gs8-width) and (orientation: landscape)
    header
        img
            inline-size: 15vw !important

        .slogan-wrapper
            font-size: .7em !important

    main
        section.info
            .carosel
                inline-size: 35vw !important

                div.btn-container
                    bottom: 55vh !important

                .caption
                    bottom: 13.8vh !important
            
            section.bio-container
                inline-size: 50vw !important
        
        section#tech-repo
            .pp
                background-size: 13vw !important
            
                p
                    inline-size: 36vw !important

@media only screen and ($samsung-gcz5-height <= width <= 895px) and (min-height: $samsung-gcz5-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: 0.5em !important

    main
        section.info
            .carosel
                block-size: 95vh !important
                inline-size: 35vw !important

                div.btn-container
                    bottom: 65vh !important

                .relative
                    bottom: 14.7vh !important

            section.bio-container
                inline-size: 50vw !important

        section.spec-wrapper
            .spec-class
                inline-size: 45vw 

        section#tech-repo
            .pp
                margin-inline: 1em
                block-size: 45vh !important
                inline-size: 28vw !important
                background-size: 11vw !important

                .tech-container
                    .relative
                        top: 2vh !important
                        left: 2vw !important

                    .img-wrapper
                        block-size: 8vh !important
                        inline-size: 23vw !important
                    
                        .img-svg
                            block-size: 7vh !important
                p
                    inline-size: 23vw !important
                    margin-inline-start: 3vw !important

@media only screen and ($samsung-gfz5-height <= width <= 853px) and (min-height: $samsung-gfz5-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: 0.5em !important

    main
        section.info
            .carosel
                block-size: 45vh !important
                inline-size: 35vw !important

                div.btn-container
                    bottom: 37vh !important

                .caption
                    bottom: 7.3vh !important

            section.bio-container
                inline-size: 50vw         
        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                block-size: 20vh !important
                inline-size: 43vw !important

                .tech-container
                    .relative
                        top: 1vh !important

                    .img-wrapper
                        block-size: 4vh !important
                        inline-size: 40vw !important
                    
                        .img-svg
                            block-size: 4vh !important
                p
                    inline-size: 40vw !important

@media only screen and ($samsung-ga5171-height <= width <= 925px) and (min-height: $samsung-ga5171-width) and (orientation: landscape)
    header
        .slogan-wrapper
            font-size: 0.5em !important

    main
        section.info
            .carosel
                block-size: 82vh !important
                inline-size: 35vw !important

                div.btn-container
                    bottom: 54vh !important

                .relative
                    bottom: 12.1vh !important

            section.bio-container
                inline-size: 50vw

        section.spec-wrapper
            .spec-class
                inline-size: 45vw !important

        section#tech-repo
            .pp
                block-size: 40vh !important
                inline-size: 28vw !important
                background-size: 11vw !important

                .tech-container
                    .relative
                        top: 2vh !important

                    .img-wrapper
                        block-size: 8vh !important
                        inline-size: 25vw !important
                    
                        .img-svg
                            block-size: 6vh !important
                p
                    inline-size: 23vw !important
                    margin-inline-start: 3vw !important
