// Sharp Media Queries
// Issues with mq
//  Import dependencies
@import breakpoints

//  Portrait
@media only screen and (min-width: $sharp-sx862-width) and (min-height: $sharp-sx862-height) and (max-height: 959px) and (orientation: portrait)
    header 
        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                .caption
                    bottom: 5.9vh !important

            div.btn-container
                bottom: 36vh !important

        section#tech-repo
            .pp
                block-size: 17vh !important
                inline-size: 64vw !important
                background-size: 24vw !important

                .tech-container

                    .relative
                        top: 1vh !important
                        left: 4vw !important

                    .img-wrapper
                        block-size: 3vh !important
                        inline-size: 58vw !important


                        .img-svg
                            block-size: 3vh !important
                p
                    inline-size: 53vw !important
                    margin-inline-start: 9vw !important

@media only screen and (min-width: $sharp-941sh-width) and (min-height: $sharp-941sh-height) and (orientation: portrait)
    header 
        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                .caption
                    bottom: 4.9vh !important

            div.btn-container
                bottom: 30vh !important
                inline-size: 100% !important

        section#tech-repo
            .pp
                block-size: 14vh !important
                inline-size: 100% !important
                background-size: 25vw !important

                .tech-container

                    .relative
                        top: 2vh !important

                .img-wrapper
                    block-size: 3vh !important
                    inline-size: 81vw !important

                    .img-svg
                        block-size: 3vh !important
                p
                    inline-size: 81vw !important
                    margin-inline-start: 7vw !important

//  Landscape
@media only screen and (min-width: $sharp-sx862-height) and (max-width: 899px) and (min-height: $sharp-sx862-width) and (orientation: landscape)
    header
        img
            inline-size: 10vw !important
        
    main
        section.info
            .carosel
                inline-size: 31vw !important

                .caption
                    bottom: 10.4vh !important

                div.btn-container
                    bottom: 45vh !important


                    button.img-btn
                        font-size: 2.5em !important  
      

        section.bio-container
            inline-size: 53vw !important

            .bio-content
                p
                    inline-size: 54vw !important

        section.spec-wrapper
            inline-size: 100% !important

            .spec-class
                inline-size: 47vw !important
        
        section#tech-repo
            .pp
                block-size: 33vh !important
                inline-size: 41vw !important
                background-size: 16vw !important

                .tech-container
                    .relative
                        top: 3vh !important
                        left: 3vw !important

                    .img-wrapper
                        inline-size: 36vw !important

                        .img-svg
                            block-size: 5vh !important

                p
                    inline-size: 32vw !important
                    margin-inline-start: 4vw !important

@media only screen and (min-width: $sharp-941sh-height) and (min-height: $sharp-941sh-width) and (orientation: lanscape)
    header 
        .slogan-wrapper 
            font-size: .7em !important
        
        img
            inline-size: 11vw !important

    main
        section.info
            .carosel
                block-size: 27vh !important
                inline-size: 50vw !important

                .caption
                    bottom: 10.5vh !important

                div.btn-container
                    bottom: 51vh !important
                    inline-size: 100% !important

        section#tech-repo
            .pp
                block-size: 30vh !important
                inline-size: 100% !important
                background-size: 12vw !important

                .tech-container
                    .relative
                        top: 3vh !important
                        left: 2vw !important

                    .img-wrapper
                        inline-size: 40vw !important

                        .img-svg
                            block-size: 3vh !important

@media only screen and (min-width: $sharp-is03-width) and (min-height: $sharp-is03-height) and (orientation: landscape)
    header 
        .slogan-wrapper 
            font-size: .7em !important

    main
        section.info
            .carosel
                block-size: 16vh !important
                .caption
                    bottom: 7.9vh !important

            div.btn-container
                bottom: 46vh !important
                inline-size: 100% !important

                button.img-btn
                    font-size: 2.5em !important

        section#tech-repo
            .pp
                block-size: 16vh !important

