// Sass file for label color
//  Variables
$black : rgba(40, 40, 40, 0.8)
$navy : rgba(0, 0, 150, 0.8)

filter-content
    block-size: 3vh
    inline-size: 1vw
    border-radius: 10px
    
div.tech-Django
    @extend filter-content
    background-color: $navy

div.tech-Flask
    @extend filter-content
    background-color: $black

div.tech-API
    @extend filter-content
    background-color: $black

div.tech-HTML
    @extend filter-content
    background-color: $black

div.tech-CSS
    @extend filter-content
    background-color: $black

div.tech-JavaScript
    @extend filter-content
    background-color: $black

div.tech-Agile-Methodology
    @extend filter-content
    background-color: $black

div.tech-Database-Management
    @extend filter-content
    background-color: $black

div.tech-MVC
    @extend filter-content
    background-color: $black