@media only screen and (min-width: 400px) and (min-height: 683px) and (orientation: portrait) {
  header.slogan-wrapper {
    font-size: 0.549em;
  }
  main section.info .carosel {
    block-size: 26vh;
    inline-size: 47vw;
    align-items: center;
  }
  main section.info .carosel div.btn-container {
    bottom: 11em;
    inline-size: 47vw;
  }
  main section.info .carosel .caption {
    bottom: 5.8vh;
  }
  main section.info section.bio-container {
    margin-inline-start: 0 !important;
    inline-size: 100% !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 86vw !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
  }
  main section.info section.bio-container .btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .spec-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .spec-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .spec-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .spec-class .spec-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#tech-repo .pp {
    block-size: 24vh !important;
    inline-size: 100% !important;
    margin-inline-start: 6vw !important;
  }
  main section#tech-repo .pp p {
    inline-size: 79vw !important;
  }
  main section#tech-repo .pp .tech-container {
    inline-size: 54vw !important;
  }
  main section#tech-repo .pp .tech-container .relative {
    top: -1vh !important;
  }
  main section#tech-repo .pp .tech-container .img-wrapper {
    block-size: 4vh !important;
    inline-size: 79vw !important;
  }
  main section#tech-repo .pp .tech-container .img-wrapper .img-svg {
    block-size: 4vh !important;
  }
}
/*Samsung Galaxy Foldable*/
@media only screen and (min-device-width: 344px) and (max-device-width: 882px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em;
  }
  main section.info .carosel {
    block-size: 26vh;
    inline-size: 47vw;
    align-items: center;
  }
  main section.info .carosel div.btn-container {
    bottom: 11em;
    inline-size: 47vw;
  }
  main section.info .carosel .caption {
    bottom: 5.8vh;
  }
  main section.info section.bio-container {
    margin-inline-start: 0 !important;
    inline-size: 100% !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 86vw !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
  }
  main section.info section.bio-container .btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .spec-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .spec-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .spec-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .spec-class .spec-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#full-stack .pp {
    inline-size: 100% !important;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 54vw !important;
  }
}
/* Samsung galaxy S8*/
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em;
  }
  main section.info .carosel {
    block-size: 36vh;
    inline-size: 49vw;
    align-items: center;
  }
  main section.info .carosel .caption {
    bottom: 6.9vh;
  }
  main section.info .btn-container {
    bottom: 11em !important;
  }
  main section.info section.bio-container {
    margin-inline: 0;
    inline-size: 100%;
  }
  main section.info section.bio-container h2 {
    font-size: 2em;
    text-align: center;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 86vw;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em;
  }
  main section.spec-wrapper {
    inline-size: 100%;
    flex-direction: column;
  }
  main section.spec-wrapper .spec-class {
    inline-size: 84vw;
    display: flex;
    flex-direction: column;
  }
  main section.spec-wrapper .spec-class .h3-link {
    margin-block: 1vh;
  }
  main section.spec-wrapper .spec-class .tech-container {
    inline-size: 87vw;
  }
  main section.spec-wrapper .spec-class .spec-course .h4-link {
    margin-block: 1vh;
  }
  main section#full-stack .pp {
    inline-size: 100%;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 60vw;
  }
}
/* Samsung galaxy S20 Ultra*/
@media only screen and (min-device-width: 412px) and (max-device-width: 915px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  header a {
    font-size: 0.57em;
  }
  main section.info .carosel {
    block-size: 36vh;
    inline-size: 49vw;
    align-items: center;
  }
  main section.info .carosel .caption {
    bottom: 5.5vh;
  }
  main section.info .btn-container {
    bottom: 11em !important;
  }
  main section.info section.bio-container {
    margin-inline: 0;
    inline-size: 100%;
  }
  main section.info section.bio-container h2 {
    font-size: 2em;
    text-align: center;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 86vw;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em;
  }
  main section.info section.bio-container div.btn-container {
    bottom: 39em;
  }
  main section.spec-wrapper {
    inline-size: 100%;
    flex-direction: column;
  }
  main section.spec-wrapper .spec-class {
    inline-size: 84vw;
    display: flex;
    flex-direction: column;
  }
  main section.spec-wrapper .spec-class .h3-link {
    margin-block: 1vh;
  }
  main section.spec-wrapper .spec-class p {
    inline-size: 69vw;
  }
  main section.spec-wrapper .spec-class .tech-container {
    inline-size: 87vw;
  }
  main section.spec-wrapper .spec-class .spec-course .h4-link {
    margin-block: 1vh;
  }
  main section#full-stack .pp {
    inline-size: 100%;
  }
  main section#full-stack .pp .tech-container {
    inline-size: 60vw;
  }
}
@media only screen and (min-width: 400px) and (min-height: 683px) and (orientation: landscape) {
  main section.info .carosel {
    block-size: 26vh;
    inline-size: 47vw;
    align-items: center;
  }
  main section.info .carosel .caption {
    bottom: 5.8vh;
  }
  main section.info .carosel div.btn-container {
    bottom: 70vh;
    inline-size: 47vw;
  }
  main section.info section.bio-container {
    margin-inline-start: 0 !important;
    inline-size: 100% !important;
  }
  main section.info section.bio-container h2 {
    font-size: 2em !important;
    text-align: center !important;
  }
  main section.info section.bio-container nav.bio-link button.bio-btn {
    font-size: 1em !important;
  }
  main section.info section.bio-container section.bio-content {
    inline-size: 100% !important;
  }
  main section.info section.bio-container section.bio-content h3 {
    font-size: 1.5em !important;
  }
  main section.info section.bio-container section.bio-content p {
    font-size: 1em !important;
  }
  main section.info section.bio-container .btn-container {
    bottom: 39em !important;
  }
  main section.spec-wrapper {
    inline-size: 100% !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .spec-class {
    inline-size: 84vw !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main section.spec-wrapper .spec-class .h3-link {
    margin-block: 1vh !important;
  }
  main section.spec-wrapper .spec-class .tech-container {
    inline-size: 87vw !important;
  }
  main section.spec-wrapper .spec-class .spec-course .h4-link {
    margin-block: 1vh !important;
  }
  main section#tech-repo .pp {
    block-size: 24vh !important;
    inline-size: 100% !important;
    margin-inline-start: 6vw !important;
  }
  main section#tech-repo .pp p {
    inline-size: 79vw !important;
  }
  main section#tech-repo .pp .tech-container {
    inline-size: 54vw !important;
  }
  main section#tech-repo .pp .tech-container .relative {
    top: -1vh !important;
  }
  main section#tech-repo .pp .tech-container .img-wrapper {
    block-size: 4vh !important;
    inline-size: 79vw !important;
  }
  main section#tech-repo .pp .tech-container .img-wrapper .img-svg {
    block-size: 4vh !important;
  }
  main section#tech-repo form input[type=text] {
    background-position: 1vw 4vh;
  }
}/*# sourceMappingURL=samsung-media-query.css.map */