flex-row
    display: flex
    flex-direction: row

flex-wrap-row
    display: flex
    flex-wrap: wrap
    flex-direction: row

flex-wrap-reversed-row
    display: flex
    flex-wrap: wrap
    flex-direction: row-reverse


//  Justify content
.flex-wrap-row-justify-space-evenly
    @extend flex-wrap-row
    justify-content: space-evenly

.flex-wrap-row-justify-space-between
    @extend flex-wrap-row
    justify-content: space-between

.flex-wrap-row-justify-space-around
    @extend flex-wrap-row
    justify-content: space-around

.flex-wrap-row-justify-center
    @extend flex-wrap-row
    justify-content: center

//  Align items
.flex-wrap-row-align-items-end
    @extend flex-wrap-row
    align-items: flex-end