flex-column
    display: flex
    flex-direction: column

flex-wrap-column
    display: flex
    flex-wrap: wrap
    flex-direction: column

flex-wrap-reversed-column
    display: flex
    flex-wrap: wrap
    flex-direction: column-reverse

.flex-wrap-column-align-content-center
    align-content: center
    @extend flex-wrap-column

.flex-wrap-column-align-items-center
    align-items: center
    @extend flex-wrap-column

.flex-wrap-column-justify-center
    justify-content: center
    @extend flex-wrap-column
    